<footer id="footer">
  <div class="container clearfix">
    <div class="muted links pull-left">
      {% if config.SITE_ABOUT %}
      <a href="{{config.SITE_ABOUT}}">{{ _('About') }}</a>
      {% endif %}
      <span class="sep">&middot;</span>
      <a href="https://github.com/pythoncn/june">{{ _('Open Source') }}</a>
      <span class="sep">&middot;</span>
      <a href="/humans.txt">{{ _('Authors') }}</a>
    </div>
    <p class="muted credit pull-right">
    &copy;<time datetime="{{config.SITE_TIME}}">{{config.SITE_TIME.year}}</time> {{config.SITE_TITLE}}. All rights reserved.
    </p>
  </div>
</footer>
