{% macro render_field(field) %}
<div class="fm-field{% if field.flags.required %} fm-required{% endif %}">
  {{ field.label }}
  {{ field() }}
  {% if field.description %}
  <p class="fm-description">{{ field.description }}</p>
  {% endif %}
  {% if field.errors %}
  <ul class="fm-errors">
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endmacro %}

{% macro render_submit(name) %}
<div class="fm-field">
  <div class="fm-submit">
    <button class="fm-button">{{ name }}</button>
  </div>
</div>
{% endmacro %}
