{% with site_sidebar = db.site_sidebar() %}
  {% if site_sidebar %}
    {{ site_sidebar|safe }}
  {% endif %}
{% endwith %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ _('Site Status') }}</h3>
  </div>
  <div class="panel-body">
    {% with status = db.site_status() %}
      <table class="site-status">
        <tr>
          <th>Member</th>
          <td>{{ status.account }}</td>
        </tr>
        <tr>
          <th>Node</th>
          <td>{{ status.node }}</td>
        </tr>
        <tr>
          <th>Topic</th>
          <td>{{ status.topic }}</td>
        </tr>
        <tr>
          <th>Reply</th>
          <td>{{ status.reply }}</td>
        </tr>
      </table>
    {% endwith %}
  </div>
</div>
