<article class="hentry">
    <header class="fn-clear">
        <div class="entry-basic">
            <h1 class="entry-title">{{escape(topic.title)}}</h1>
            {% set user = users[topic.user_id] %}
            <div class="entry-meta">
                By
                <a href="/member/{{escape(user.username)}}">{{escape(user.username)}}</a>
                •
                <time class="updated" datetime="{{xmldatetime(topic.created)}}">{{topic.created.strftime("%b %d, %Y %H:%M")}}</time>
            </div>
        </div>
    </header>
    <div class="entry-content">
        {{ markdown(topic.content) }}
    </div>
</article>
{% module ReplyModule(topic) %}
{% if current_user %}
<form action="/topic/{{topic.id}}" method="post" class="reply-form fm js-form" data-target="div.replies">
    {{ xsrf_form_html() }}
    <div class="fm-item fn-clear">
        <textarea id="reply-content" name="content" class="fm-text"></textarea>
    </div>
    <div class="fm-item fn-clear">
        <button type="submit" class="ui-btn">{{ _("Post") }}</button>
    </div>
</form>
{% end %}
