<article class="hentry">
    <header>
        <h1 class="entry-title">{{escape(topic.title)}}</h1>
        {% set user = users[topic.user_id] %}
        <div class="entry-meta">
            By
            <a href="/member/{{escape(user.username)}}">{{escape(user.username)}}</a>
            •
            <time class="updated" datetime="{{topic.created.strftime("%Y-%m-%dT%H:%M:%SZ")}}">{{topic.created.strftime("%b %d, %Y")}}</time>
        </div>
    </header>
    <div class="entry-content">
        {{ markdown(topic.content) }}
    </div>
</article>
<div class="replies">
    {% for reply in replies %}

    {% if reply.user_id in users %}
    {% set user = users[reply.user_id] %}
    {% module Template('module/reply.html', reply=reply, user=user) %}
    {% end %}

    {% end %}
</div>
{% if current_user %}
<form action="/topic/{{topic.id}}" method="post" class="reply-form fm js-form" data-target="div.replies">
    {{ xsrf_form_html() }}
    <div class="fm-item fn-clear">
        <textarea id="reply-content" name="content" class="fm-text"></textarea>
    </div>
    <div class="fm-item fn-clear">
        <button type="submit" class="ui-btn">{{ _("Post") }}</button>
    </div>
</form>
{% end %}
