{% extends "layout.html" %}

{% block subtitle %}{{node}}{% endblock %}

{% block sidebar %}
<div class="module">
  <div class="module-header inner">
    <strong>{{node}}</strong>
  </div>
  <div class="module-body inner">
    {{node.html}}
  </div>
  <div class="inner">
    <a class="btn btn-success" href="#">{{_('Create a topic')}}</a>
    {%- if g.user and g.user.is_staff %}
    <a class="btn-link" href="{{url_for('node.edit', urlname=node.urlname)}}">{{_('Edit this node')}}</a>
    {%- endif %}
  </div>
</div>
{% endblock %}
