{% extends "layout.html" %}

{% block subtitle %}{{node}}{% endblock %}

{% block content %}
<div class="module">
  <div class="module-body inner">
    <ul>
      {% for topic in paginator.items %}
      <li><a href="{{url_for('topic.view', uid=topic.id)}}">{{topic}}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% if paginator.pages > 1 %}
  <div class="module-footer inner">
    {% from "macro/ui.html" import pagination %}
    {{ pagination(paginator, url_for('node.view', urlname=node.urlname)) }}
  </div>
  {% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div class="module">
  <div class="module-header inner">
    <strong>{{node}}</strong>
  </div>
  <div class="module-body inner">
    {{node.html}}
  </div>
  <div class="inner">
    <a class="btn btn-success" href="{{url_for('topic.create', urlname=node.urlname)}}">{{_('Create a topic')}}</a>
    {%- if g.user and g.user.is_staff %}
    <a class="btn-link" href="{{url_for('node.edit', urlname=node.urlname)}}">{{_('Edit this node')}}</a>
    {%- endif %}
  </div>
</div>
{% endblock %}
