db.sqlite
*.pyc
*.pyo
*.egg-info
*.mo
*.log
*.tmp.*
*.iml
.idea/
__pycache__
bin
build
develop-eggs
dist
eggs
parts
.DS_Store
.installed.cfg
docs/_build
.tox

data/
venv/
cover/
assets/components
assets/node_modules
assets/index.css
june/public/static
