# This requirements is for development

Flask
misaka
pygments

# database
Flask-SQLAlchemy
#MySQL-python

# cache support
Flask-Cache
#python-memcached

# i18n and l10n
Flask-Babel

# form support
#Flask-WTF
-e git+git://github.com/lepture/flask-wtf.git#egg=Flask-WTF

# mail support
Flask-Mail

# testing
nose
