{% extends "layout.html" %}
{% from "macro/form.html" import horizontal_field, horizontal_form_button %}

{% block subtitle %}{{user}}{% endblock %}

{% block content %}
<div class="module">
  <div class="module-header inner">
    <strong>{{user}}</strong>
  </div>
  <form class="form-horizontal inner" method="post" action="">
    {{ form.csrf_token }}
    {{ horizontal_field(form.username, 'input-block-level') }}
    {{ horizontal_field(form.email, 'input-block-level') }}
    {{ horizontal_field(form.screen_name, 'input-block-level') }}
    {{ horizontal_field(form.website, 'input-block-level') }}
    {{ horizontal_field(form.city, 'input-block-level') }}
    {{ horizontal_field(form.description, 'input-block-level') }}
    {{ horizontal_field(form.role) }}

    {{ horizontal_form_button(_('Update'), 'btn-success') }}
  </form>
</div>
{% endblock %}
