{% extends "layout.html" %}

{% block subtitle %}{{ _("Dashboard") }}{% end %}

{% block content %}
<div class="ui-box">
    <div class="ui-box-header">
        <h4>Edit Node</h4>
    </div>
    <div class="ui-box-container">
        {% for node in nodes %}
        <a class="node" href="/dashboard/node/{{node.slug}}" style="
            {%if node.bgcolor%}background-color:{{node.bgcolor}};{%end%}
            {%if node.fgcolor%}color:{{node.fgcolor}};{%end%}
            {%if not node.fgcolor and node.bgcolor%}color:#fff;{%end%}
            ">{{escape(node.title)}}</a>
        {% end %}
    </div>
    <div class="ui-box-footer">
        <a href="/dashboard/node" class="ui-btn">New Node</a>
    </div>
</div>
<div class="ui-box">
    <div class="ui-box-header">
        <h4>Site Information</h4>
    </div>
    <form action="/dashboard/storage" method="post" class="ui-box-container">
        {{ xsrf_form_html() }}
        <div class="fm-item">
            <label class="fm-label">{{ _("Header") }}</label>
            <textarea name="header" class="fm-text">{{g.header or ''}}</textarea>
        </div>
        <div class="fm-item">
            <label class="fm-label">{{ _("Sidebar") }}</label>
            <textarea name="sidebar" class="fm-text">{{g.sidebar or ''}}</textarea>
        </div>
        <div class="fm-item">
            <label class="fm-label">{{ _("Footer") }}</label>
            <textarea name="footer" class="fm-text">{{g.footer or ''}}</textarea>
        </div>
        <div class="fm-item">
            <button class="ui-btn">{{_("Save")}}</button>
        </div>
    </form>
</div>
{% end %}

{% block sidebar %}
<div class="ui-box">
    <form action="" class="ui-box-container">
        <div class="fm-item">
            <input type="text" name="user" class="fm-text vsep" />
        </div>
        <button type="submit" class="ui-btn">{{ _("Member Manage") }}</button>
    </form>
</div>

<div class="ui-box">
    <form action="" class="ui-box-container">
        <div class="fm-item">
            <input type="text" name="cache" class="fm-text vsep" />
        </div>
        <button type="submit" class="ui-btn">{{ _("Delete Cache") }}</button>
    </form>
</div>
{% end %}
