@import "define";

/* basic reset */
html, body {
    background: url(../img/main_bg.gif);
    color: #454545;
    font: 14px/1.6 @sans;
}
h1, h2, h3, h4, h5 {
    font-family: @helvetica;
}
h1 {
    font-size: 20px;
    line-height: 1.2;
}
h2 {
    font-size: 18px;
    line-height: 1.6;
}
h3 {
    font-size: 16px;
}
a {
    color: #333;
    color: darken(@blue, 20%);
}
a:hover {
    color: @blue;
}
p {
    margin: 0;
    margin-bottom: 10px;
}
textarea {
    min-height: 98px;
}
img {
    max-width: 98%;
}
/* common class */
.center {
    max-width: 960px;
    margin: 0 auto;
}
.wrapper {
    padding: 12px;
}
.small {
    font-size: 12px;
    font-family: @serif;
}
.hsep {margin-right: 14px;}
.vsep {margin-bottom: 14px;}

.hentry {
    padding: 14px;
    border-bottom: 1px solid #dadada;
    header {
        position: relative;
        border-bottom: 1px solid #efefef;
    }
    .vote {
        position: absolute;
        top: -2px;
        right: 6px;
        .active {
            background: fadeOut(@blue, 68%);
        }
    }
    .up-vote, .down-vote {
        padding: 2px 6px;
        background: rgba(0,0,0,0.08);
        color: #454545;
        margin-bottom: 2px;
        &:hover {
            cursor: pointer;
            background: rgba(0,0,0,0.2);
        }
    }
    .up-vote {
        border-radius: 3px 3px 0 0;
    }
    .down-vote {
        border-radius: 0 0 3px 3px;
    }
}
.entry-meta {
    color: #999;
    margin-top: 6px;
    padding-bottom: 6px;
    font-size: small;
}
.entry-title {
    color: #333;
    width: 90%;
    .fn-wrap;
}
.entry-content {
    margin-top: 10px;
    overflow: hidden;
    word-wrap: break-word;
}

.avatar {
    border-radius: 3px;
    margin-right: 10px;
    img {
        border-radius: 4px;
    }
}
.node {
    display: inline-block;
    color: #fff;
    background: rgba(0,0,0,0.3);
    padding: 1px 8px;
    border-radius: 3px;
    margin-bottom: 8px;
    &:hover {
        background: rgba(0,0,0,0.5);
        .opacity(0.8);
        color: #fff;
        text-decoration: none;
    }
}
.widget {
    padding: 12px 12px 6px 12px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
}
.widget-title {
    margin-bottom: 8px;
    padding-bottom: 3px;
    border-bottom: 3px double #d0d0d0;
    font-family: @serif;
}
.cell {
    padding: 10px 14px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e1e1e1;
    &:first-of-type {
        border-top: 0 none;
    }
}
.cell {
    position: relative;
    .avatar {
        float: left;
    }
    .cell-header, .cell-footer {
        font-size: small;
        margin-bottom: 6px;
    }
    h2 {
        line-height: 1;
        padding-bottom: 4px;
    }
    p {
        margin-bottom: 8px;
    }
    .node {
        font-size: 12px;
        position: absolute;
        top: 6px;
        right: 7px;
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0,0,0,0.6);
}
