@import "lib/base";
@import "include/tipsy";
@import "include/pygments";
@import "include/atwho";
@import "form";

@darkColor: #575D60;
@font: 16px/1.62 Georgia, 'Xin Gothic', 'PT Sans', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;

.wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding: 6px 14px;
}

#header {
    background-color: @darkColor;
    border-bottom: 1px solid darken(@darkColor, 5%);
}

#nav {
    background-color: darken(@darkColor, 4%);
    border-top: 1px solid darken(@darkColor, 8%);
}

#header a, #nav a {
    color: #fff;
    text-decoration: none;
}

#header h1 {
    float: left;
    font: 24px/1.2 "Georgia", serif;
    text-shadow: 1px 1px 0 #222;
}
#header nav {
    float: right;
}

#nav a {
    font: 12px/1.2 "Luxi Sans", "Lucida Grande", "Hiragino Sans GB", sans-serif;
    padding: 8px 6px 6px;
    text-shadow: 1px 1px 0 #222;
}
#nav a:hover {
    background: @darkColor;
}

#main {
    min-height: 800px;
    background: url("../img/main_bg.gif");
}

#footer {
    color: lighten(@darkColor, 20%);
    font: 12px/1.2 "Luxi Sans", "Lucida Grande", "Hiragino Sans GB", sans-serif;
    border-top: 1px solid #ccc;
    padding: 10px 0 5px;
}
#footer a {
    color: lighten(@darkColor, 20%);
    font-weight: bold;
}
#footer p {
    margin: 0;
    padding: 0;
}
