.expanded #header {
    margin-left: 15px;
}
.inner-wrap {
    margin: 0;
    padding-left: 0;
}
#side {
    position: static;
    margin-left: 10px;
    width: 100%;
    background: none;
    padding: 0;
}
#side ul {
    margin: 0;
}
#side li {
    float: left;
    margin: 0 2px;
}
#side h2 {
    display: none;
}
#side ul a {
    background: #575D60;
    padding: 4px 8px;
    border-radius: 3px;
    &:hover {
        background: #575D60;
    }
}
#nav {
    height: 24px;
}
#nav-toggle {
    display: none;
}
#main, #sidebar {
    float: none;
    width: 100%;
}
.widget {
    padding: 0 10px;
}
#footer {
    display: none;
}
#main {
    margin-left: 10px;
}
/*---- form -----*/
.fm-label {
    display: block;
    width: auto;
    text-align: left;
}
.fm-item button {
    margin: 0;
}
.fm-item input {
    width: 96%;
}
.fm-explain {
    margin: 0;
}
.reply-form {
    margin-left: 10px;
}
.reply-form #editor {
    width: auto;
}
html #markdown-form {
    float: none;
    width: auto;
}
html #markdown-explain {
    display: none;
}
