@import "lib/base";
@import "include/pygments";
@import "include/atwho";
@import "basic";
@import "form";

/* fix form.less */
.fm-row {
    padding: 5px 1px 7px 100px;
}
.fm-label {
    width: 90px;
    margin-left: -100px;
}
.fm-item input.fm-text {
    width: 160px;
}
.fm-item textarea {
    width: 96%;
    height: 3em;
}

/* layout */
#header {
    .vertical-linear-gradient(#ffffff, #dfdfdf);
    border-bottom: 1px solid #cacaca;
    box-shadow: 0 1px 0 #efefef;
    a {
        font-weight: bold;
    }
}
#body {
    margin-top: 16px;
}
#footer {
    font-size: 10px;
    color: #bababa;
    a {
        color: #bababa;
    }
}

/* header */
#nav {
    float: left;
    font-size: 12px;
    margin: 0;
    li {
        float: left;
    }
    a {
        display: inline-block;
        padding: 8px 8px 7px;
        border-right: 1px solid #cacaca;
        border-left: 1px solid #ffffff;
        color: #454545;
        text-shadow: 0 1px 0 #ffffff;
        text-decoration: none;
    }
    a.first {
        border-left: 1px solid #cacaca;
    }
    a:hover {
        box-shadow: 0 0 10px #ccc inset;
        color: @blue;
    }
    .dashboard { display: none; }
}
#account {
    float: right;
    margin: 3px 5px;
    font-size: 10px;
    li {
        float: left;
    }
    a {
        display: inline-block;
        padding: 5px 9px;
        color: #898989;
        .vertical-linear-gradient(#f9f9f9, #d9d9d9);
        border: 1px solid;
        border-color: #dfdfdf #dadada #ccc #dadada;
        border-left: 0 none;
        text-decoration: none;
        text-shadow: 0 1px 0 #ffffff;
        box-shadow: 1px 1px 0 #f9f9f9, 0 1px 0 #ffffff inset;
    }
    .first {
        border-left: 1px solid #dadada;
        border-radius: 12px 0 0 12px;
    }
    .last {
        border-radius: 0 12px 12px 0;
    }
    .notify {
        color: #c60;
    }
    a:hover {
        .vertical-linear-gradient(#eeeeee, #ffffff);
    }
}

#content {
    background: #f7f7f7;
    box-shadow: 1px 0 10px #999;
    z-index: 2;
}
#sidebar {
    margin-top: 10px;
    background: #efefef;
    box-shadow: 1px 0 6px #aaa;
}

#notify {
    position: fixed;
    top: 10px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    z-index: 1000;
    border-radius: 6px;
    color: white;
    .vertical-linear-gradient(rgba(60,60,60,0.8), rgba(10,10,10,0.8));
    font-size: small;
    .message {
        font-family: @helvetica;
        position: relative;
        padding: 8px;
        border-top: 1px solid #999;
        border-bottom: 1px solid #3c3c3c;
        &:first-of-type {
            border-top: 0 none;
        }
        &:last-of-type {
            border-bottom: 0 none;
        }
        &:hover .js-hide {
            position: absolute;
            top: 8px;
            right: 6px;
            width: 12px;
            height: 12px;
            background: url(../img/icon-close.png) no-repeat;
            cursor: pointer;
        }
    }
    h3 {
        font-size: 16px;
        line-height: 1.4;
    }
    a {
        color: #fff;
    }
}
