@import "base";
@import "form";

@serif: "Georgia", serif;
@sans: "Lucida Grande", "Luxi Sans", "Hiragino Sans GB", sans-serif;

html, body {
    background: url(../img/main_bg.gif);
    color: #454545;
    font-family: @sans;
}
h2 {
    font-size: 1.3em;
    line-height: 1.3;
}
p {
    margin: 0 0 0.2em;
}
a {
    color: #333;
}
.center-container {
    max-width: 960px;
    margin: 0 auto;
    #content {
        border: 1px solid @bordercolor;
        border-radius: 0 0 3px 3px;
    }
}
.wrapper {
    padding: 1em;
}
#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 68%;
    border: 1px solid @bordercolor;
    border-top: 0 none;
    border-left: 0 none;
    border-radius: 0 0 3px 0;
    background: #f7f7f7;
    box-shadow: 1px 0 10px #999;
    z-index: 2;
    a {
        font-weight: bold;
        color: #333;
    }
    nav {
        .vertical-linear-gradient(#ffffff, #dfdfdf);
        border-bottom: 1px solid @bordercolor;
        box-shadow: 0 1px 0 #ffffff;
    }
}
#sidebar {
    position: absolute;
    top: 0;
    left: 68%;
    width: 30%;
    background: #efefef;
    box-shadow: 1px 0 6px #aaa;
}
#nav {
    float: left;
    margin: 0;
    li {
        float: left;
    }
    a {
        display: inline-block;
        padding: 0.5em 0.6em;
        border-right: 1px solid @bordercolor;
        border-left: 1px solid #ffffff;
        color: #454545;
        text-shadow: 0 1px 0 #ffffff;
        text-decoration: none;
    }
    a:first-of-type {
        border-left: 0 none;
    }
    a:hover {
        box-shadow: 0 0 10px #ccc inset;
    }
}
#account {
    float: right;
    margin: 0.3em 0.5em;
    font-size: 0.78em;
    li {
        float: left;
    }
    a {
        display: inline-block;
        padding: 0.4em 0.8em;
        color: #898989;
        .vertical-linear-gradient(#f9f9f9, #d9d9d9);
        border: 1px solid;
        border-color: #dfdfdf #dadada #ccc #dadada;
        border-left: 0 none;
        text-decoration: none;
        text-shadow: 0 1px 0 #ffffff;
        box-shadow: 1px 1px 0 #f9f9f9, 0 1px 0 #ffffff inset;
    }
    .first {
        border-left: 1px solid #dadada;
        border-radius: 1em 0 0 1em;
    }
    .last {
        border-radius: 0 1em 1em 0;
    }
    a:hover {
        .vertical-linear-gradient(#eeeeee, #ffffff);
    }
}
#main {
    .node {
        color: #fff;
        background: rgba(0,0,0,0.3);
        padding: 3px 6px;
        border-radius: 4px;
        text-decoration: none;
        font-size: 80%;
        &:hover {
            background: rgba(0,0,0,0.5);
        }
    }
}
#pannel {
    position: fixed;
    right: -650px;
    top: 10px;
    width: 650px;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    border-radius: 6px 0 0 0;
    z-index: 100;
    .transition(all ease 0.2s);
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0,0,0,0.6);
}
#reply-form textarea {
    width: 95%;
    height: 8em;
}
.cell {
    padding: 0.4em 1em;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
    &:first-of-type {
        border-top: 0 none;
    }
    &:hover {
        background: #f1f1f1;
        cursor: pointer;
    }
    .avatar {
        float: left;
    }
    .cell-header, .cell-footer {
        font-size: small;
        margin-bottom: 0.5em;
    }
    .cell-action {
        position: absolute;
        top: 0.4em;
        right: 1em;
        a {
            font-weight: normal;
            color: #999;
        }
    }
}
.highlight {
    padding: 0 0.6em;
    border-left: 3px solid #dadada;
}
.hentry {
    padding: 1em;
    border-bottom: 1px solid #dadada;
}
.entry-meta {
    color: #999;
    margin-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #efefef;
    font-size: small;
}
.entry-title {
    color: #333;
}
.entry-content {
    margin-top: 1em;
}

.avatar {
    border-radius: 3px;
    margin-right: 0.8em;
}
.widget {
    padding: 1em 1em 0.4em 1em;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    .meta {
        margin-top: .4em;
        font-size: small;
        font-family: @serif;
    }
}
.widget-title {
    margin-bottom: 0.8em;
    padding-bottom: 0.2em;
    border-bottom: 3px double #d0d0d0;
    font-family: @serif;
}
