{%- macro render_errors(errors) %}
  {%- if errors %}
    <ul class="unstyled text-error">
      {%- for error in errors %}
        <li>{{ error }}</li>
      {%- endfor %}
    </ul>
  {%- endif %}
{%- endmacro %}

{% macro render_field(field, class='') %}
  {%- if field.description %}
    {{ field(class_=class, placeholder=field.description) }}
  {%- else %}
    {{ field(class_=class) }}
  {%- endif %}
  {{ render_errors(field.errors) }}
{% endmacro %}

{% macro field_class(classes, field) %}
  {% if field.flags.required %}
    {% set classes = classes + ' required' %}
  {% endif %}
  {% if field.errors %}
    {% set classes = classes + ' has-error' %}
  {% endif %}
  {{ classes }}
{% endmacro %}

{%- macro vertical_field(field, class='') %}
  <div class="{{ field_class('form-group', field) }}">
    {{ field.label(class_='control-label') }}
    {{ render_field(field, 'form-control') }}
  </div>
{%- endmacro %}


{% macro horizontal_field(field, class='') %}
  <div class="form-group">
    {{ field.label(class_='col-sm-2 control-label') }}
    <div class="col-sm-10">
      {{ render_field(field, 'form-control') }}
    </div>
  </div>
{% endmacro %}

{% macro horizontal_form_button(text, class='') %}
  {% set class = class + ' btn' %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="{{ class }}">{{ text }}</button>
    </div>
  </div>
{% endmacro %}
