{%- macro render_errors(errors) %}
{%- if errors %}
<ul class="unstyled text-error">
  {%- for error in errors %}
  <li>{{error}}</li>
  {%- endfor %}
</ul>
{%- endif %}
{%- endmacro %}

{% macro render_field(field, class='') %}
{%- if field.description %}
{{field(class_=class, placeholder=field.description)}}
{%- else %}
{{field(class_=class)}}
{%- endif %}
{{ render_errors(field.errors) }}
{% endmacro %}

{% macro field_class(classes, field) %}
{% if field.flags.required %}
{% set classes = classes + ' required' %}
{% endif %}
{% if field.errors %}
{% set classes = classes + ' error' %}
{% endif %}
{{ classes }}
{% endmacro %}

{%- macro vertical_field(field, class='') %}
<fieldset class="{{ field_class('form', field) }}">
  {{field.label}}
  {{ render_field(field, class) }}
</fieldset>
{%- endmacro %}


{%- macro horizontal_field(field, class='') %}
<div class="{{ field_class('control-group', field) }}">
  {{field.label(class_='control-label')}}
  <div class="controls">
    {{ render_field(field, class) }}
  </div>
</div>
{%- endmacro %}

{%- macro horizontal_form_button(text, class='') %}
{% set class = class + ' btn' %}
<div class="control-group">
  <div class="controls">
    <button class="{{class}}">{{text}}</button>
  </div>
</div>
{%- endmacro %}
