{% macro alerts(messages) %}
{% for category, message in messages %}
{% set classes = 'alert alert-' + category %}
<div class="{{ classes }}">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ message }}
</div>
{% endfor %}
{% endmacro %}

{%- macro nav(current='home') %}
<ul class="nav">
  <li {% if current == 'home' %}class="active"{% endif %}><a href="/">{{_('Home')}}</a></li>
  <li {% if current == 'topic' %}class="active"{% endif %}><a href="{{url_for('topic.topics')}}">{{_('Topics')}}</a></li>
  <li {% if current == 'node' %}class="active"{% endif %}><a href="{{url_for('node.nodes')}}">{{_('Nodes')}}</a></li>
  <li {% if current == 'user' %}class="active"{% endif %}><a href="{{url_for('user.users')}}">{{_('Users')}}</a></li>
</ul>
{%- endmacro %}

{% macro pagination(paginator, url) %}
<div class="pagination pagination-centered">
  <ul>
    {% for page in paginator.iter_pages() %}
      {% if page %}
        {% if page == paginator.page %}
          <li class="active"><span>{{page}}</span></li>
        {% else %}
          <li><a href="{{url}}?page={{page}}">{{page}}</a></li>
        {% endif %}
      {% else %}
      <li class="disabled"><span class="ellipsis">…</span></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endmacro %}


{% macro topic_list(items, show_user=True, show_node=True) %}
{% if items %}
<div class="item-list">
  {% for item in items %}
  <div class="item hentry">
    <h3 class="title"><a href="{{url_for('topic.view', uid=item.id)}}">{{item}}</a></h3>
    <div class="meta">
      <a href="{{url_for('topic.view', uid=item.id)}}">{{_('discuss')}}({{item.reply_count}})</a>
      {% if show_node %}
      <span class="sep">/</span>
      {{ item.hits }}
      <span class="sep">&middot;</span>
      <a href="{{url_for('node.view', urlname=item.node.urlname)}}">{{item.node}}</a>
      {% endif %}
      <span class="sep">&middot;</span>
      <time datetime="{{item.created|xmldatetime}}" pubdate>{{item.created|timesince}}</time>
    </div>
    {% if show_user %}
    <a class="avatar" href="{{url_for('user.view', username=item.user.username)}}" title="{{item.user}}"><img src="{{item.user.avatar(24)}}" /></a>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% else %}
<div class="inner">
  <div class="alert alert-info">
    <strong>Oops!</strong>
    There is no topics.
  </div>
</div>
{% endif %}
{% endmacro %}


{% macro node_list(items, show_button=True) %}
<div class="node-list item-list">
  {% for item in items %}
  <div class="item hentry">
    <h3 class="title"><a href="{{url_for('node.view', urlname=item.urlname)}}">{{item}}</a></h3>
    <div class="meta">
      <a href="{{url_for('node.view', urlname=item.urlname)}}">{{_('topics')}}({{item.topic_count}})</a>
      <span class="sep">/</span>
      <time datetime="{{item.updated|xmldatetime}}">{{item.updated|timesince}}</time>
    </div>
    {% if show_button %}
    <a class="btn btn-success btn-mini" href="{{url_for('topic.create', urlname=item.urlname)}}">{{_('New Topic')}}</a>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endmacro %}

{% macro user_list(items, show_badge=True) %}
<div class="item-list user-list">
  {% for user in items %}
  <div class="item">
      <div class="account-group">
        <img src="{{ user.avatar(48)}}" alt="{{user}}" />
        <a href="{{url_for('user.view', username=user.username)}}"><strong>{{user}}</strong></a>
        <div class="meta">
          <time>{{ user.created.strftime('%Y-%m-%d') }}</time>
          {% if user.city %}
          <span class="sep">&middot;</span>
          <a href="{{ url_for('user.city', city=user.city) }}">{{user.city}}</a>
          {% endif %}
        </div>
      </div>
    {% if show_badge and user.is_staff %}
    <span class="label label-success">staff</span>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endmacro %}

{% macro user_module(user) %}
<div class="module user-module">
  <div class="module-header inner">
    <div class="account-group">
      <a href="{{url_for('user.view', username=user.username)}}"><img src="{{ user.avatar(48)}}" alt="{{user}}" /></a>
      <strong>{{user}}</strong>
      <time class="meta">{{ user.created.strftime('%Y-%m-%d') }}</time>
    </div>
  </div>
  <div class="inner">{{user.description|markdown|safe}}</div>
</div>
{% endmacro %}
