{%- macro render_messages(messages) %}
{%- if messages %}
<ul class="flash-messages">
  {%- for category, message in messages %}
  <li class="{{category}}">{{ message }}</li>
  {%- endfor %}
</ul>
{%- endif %}
{%- endmacro %}

{%- macro nav(current='home') %}
<ul class="nav">
  <li{% if current == 'home' %} class="active"{% endif %}><a href="/">{{_('Home')}}</a></li>
  <li{% if current == 'topic' %} class="active"{% endif %}><a href="{{url_for('topic.topics')}}">{{_('Topics')}}</a></li>
  <li{% if current == 'node' %} class="active"{% endif %}><a href="{{url_for('node.nodes')}}">{{_('Nodes')}}</a></li>
</ul>
{%- endmacro %}

{% macro pagination(paginator, url) %}
<div class="pagination pagination-centered">
  <ul>
    {% for page in paginator.iter_pages() %}
      {% if page %}
        {% if page == paginator.page %}
          <li class="active"><span>{{page}}</span></li>
        {% else %}
          <li><a href="{{url}}?page={{page}}">{{page}}</a></li>
        {% endif %}
      {% else %}
      <li class="disabled"><span class="ellipsis">…</span></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endmacro %}


{% macro topic_list(items, show_user=True, show_node=True) %}
<div class="topic-list">
  {% for item in items %}
  <div class="topic-item hentry">
    <h3 class="title"><a href="{{url_for('topic.view', uid=item.id)}}">{{item}}</a></h3>
    <div class="meta">
      <a href="{{url_for('topic.view', uid=item.id)}}#replies">discuss ({{item.reply_count}})</a>
      {% if show_node %}
      / <a href="{{url_for('node.view', urlname=item.node.urlname)}}">{{item.node}}</a>
      {% endif %}
      @ <time datetime="{{item.created|xmldatetime}}" pubdate>{{item.created|timesince}}</time>
    </div>
    {% if show_user %}
    <a class="avatar" href="#" title="{{item.user}}"><img src="{{item.user.avatar(24)}}" /></a>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endmacro %}


{% macro node_list(items) %}
<div class="node-list clearfix">
  {% for item in items %}
  <div class="node-item">
    <a title="{{_('Topics in this node')}}" class="count" href="{{url_for('node.view', urlname=item.urlname)}}">{{item.topic_count}}</a>
    <a title="{{_('Create a Topic')}}" class="title" href="{{url_for('topic.create', urlname=item.urlname)}}">{{item}}</a>
  </div>
  {% endfor %}
</div>
{% endmacro %}
