<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Signin</title>
    </head>
    <body>
        {% for type, message in flash_message() %}
        {{message}}
        {% end %}

        <form action="" method="post">
            {{ xsrf_form_html() }}
            <input type="text" name="account" placeholder="username or email" />
            <input type="password" name="password" placeholder="password" />
            <input type="submit" />
        </form>
    </body>
</html>
