html, body {
  font-family: "Helvetica Neue", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  background-color: #f5f5f5;
  height: 100%;
}
a img:hover {
  opacity: 0.8;
}
.container {
  max-width: 980px;
}
.sep {
  margin-left: 5px;
  margin-right: 5px;
}
.nav .account-group {
  margin-left: 42px;
}
.nav .dropdown-menu a {
  position: relative;
}
.nav .account-group img {
  position: absolute;
  top: 6px;
  left: 20px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
}
.nav .account-group .meta {
  display: block;
  color: #999;
  font-size: 11px;
  font-family: 'Optima', 'Georgia', serif;
}
#wrap {
  background: url('../img/bg.png');
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 80%;
}
#footer {
  border-top: 1px solid #ddd;
  height: 60px;
}
#footer .credit, #footer .links {
  font-size: 13px;
  margin-top: 20px;
}
#footer .credit time {
  margin-right: 4px;
}
/* form */
.required label {
  font-weight: bold;
}
.radio-form input {
  margin-right: 8px;
  vertical-align: top;
}
.radio-form label {
  display: inline;
  vertical-align: middle;
  margin-right: 20px;
}
textarea.input-block-level {
  min-height: 100px;
  max-width: 100%;
}
.checkbox-form {
  margin: 6px 0 18px;
}
.checkbox-form input,
.checkbox-form label {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}
.form-single {
  background-color: #fff;
  max-width: 340px;
  padding: 20px;
  margin: 60px auto;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.form-single h2 {
  padding: 0 0 10px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eee;
}
.form-single .form-submit {
  margin-top: 20px;
}
.form-single .form-submit a {
  font-size: 13px;
  margin-left: 14px;
}
.topic-form {
  margin: 0;
}
.topic-form .input-block-level {
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}
.topic-form .input-block-level:focus {
  outline: none;
  box-shadow: none;
}
.topic-form #title {
  font-size: 24px;
  font-weight: 700;
  color: #333;
}
.topic-form textarea {
  min-height: 350px;
  max-width: 100%;
}


/* module */
.module {
  position: relative;
  background-color: #f9f9f7;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #eee;
  border-color: rgba(0, 0, 0, .1);
  border-radius: 3px;
  margin-bottom: 10px;
}
.module .inner {
  padding: 12px;
}
.module .module-header {
  position: relative;
  background-color: #f2f2f1;
  line-height: 16px;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #ddd;
}
.module .module-footer {
  background-color: #f2f2f1;
  line-height: 16px;
  border-radius:  0 0 3px 3px;
  border-top: 1px solid #ddd;
}
.module-footer .pagination {
  margin: 0;
}
.module form.inner {
  padding-top: 30px;
  padding-right: 30px;
}
.user-module .account-group {
  margin-left: 48px;
}
.user-module .account-group img {
  position: absolute;
  top: 12px;
  left: 14px;
  width: 36px;
  height: 36px;
  border-radius: 4px;
}
.user-module .account-group .meta {
  display: block;
  margin-top: 4px;
  color: #999;
  font-size: 11px;
  font-family: 'Optima', 'Georgia', serif;
}

/* topics */
.item-list .item {
  position: relative;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
}
.item-list .item:first-of-type {
  border-top: none;
}
.item-list .item:hover {
  background-color: #ffe;
}
.item-list .title {
  padding: 0;
  margin: 0;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.3em;
  margin-right: 20px;
  word-wrap: break-word;
}
.item-list .content {
  margin-right: 24px;
  word-wrap: break-word;
}
.item-list .meta {
  font-size: 12px;
  font-family: 'Optima', 'Georgia', serif;
  color: #999;
}
.item-list .meta a {
  color: #999;
}
.item-list .avatar {
  position: absolute;
  top: 10px;
  right: 20px;
  display: inline-block;
}
.item-list .avatar img {
  border-radius: 12px;
}
.node-list .btn {
  position: absolute;
  top: 10px;
  right: 20px;
}
.user-list a {
  text-decoration: none;
}
.user-list .account-group {
  margin-left: 46px;
}
.user-list .account-group img {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 32px;
  height: 32px;
  border-radius: 3px;
}
.user-list .label {
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 20px;
}

.hentry .entry-content {
  font-size: 15px;
}
.hentry h1 {
  margin: 0;
  font-size: 20px;
  line-height: 1;
  word-wrap: break-word;
}
.hentry .module-footer {
  font-size: 12px;
}
.reply-form textarea {
  max-width: 100%;
  height: 100px;
}
.reply-list .delete {
  visibility: hidden;
}
.reply-list .item:hover .delete {
  visibility: visible;
}

@media (max-width: 979px) {
  #wrap {
    padding-top: 20px;
    min-height: 80%;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  #footer, #wrap {
    margin-left: -20px;
    margin-right: -20px;
  }
  #footer .container, #wrap .container {
    padding: 0 20px;
  }
}
