html, body {
  background-color: #f5f5f5;
  height: 100%;
}
.container {
  max-width: 980px;
}
#wrap {
  background: url('../img/bg.png');
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 80%;
}
#footer {
  border-top: 1px solid #ddd;
  height: 60px;
}
#footer .credit, #footer .links {
  font-size: 13px;
  margin-top: 20px;
}
@media (max-width: 979px) {
  #wrap {
    padding-top: 20px;
    min-height: 80%;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  #footer, #wrap {
    margin-left: -20px;
    margin-right: -20px;
  }
  #footer .container, #wrap .container {
    padding: 0 20px;
  }
}

/* form */
.required label {
  font-weight: bold;
}
.checkbox-form {
  margin: 6px 0 18px;
}
.checkbox-form input,
.checkbox-form label {
  display: inline-block;
  vertical-align: top;
}
.form-single {
  background-color: #fff;
  max-width: 340px;
  padding: 20px;
  margin: 60px auto;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.form-single h2 {
  padding: 0 0 10px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eee;
}
.form-single .form-submit {
  margin-top: 20px;
}
.form-single .form-submit a {
  font-size: 13px;
  margin-left: 14px;
}


/* module */
.module {
  position: relative;
  background-color: #f9f9f7;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #eee;
  border-color: rgba(0, 0, 0, .1);
  border-radius: 3px;
  margin-bottom: 10px;
}
.module .inner {
  padding: 12px;
}
.module .module-header {
  background-color: #f2f2f1;
  line-height: 16px;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #ddd;
}
.module .module-footer {
  background-color: #f2f2f1;
  line-height: 16px;
  border-radius:  0 0 3px 3px;
  border-top: 1px solid #ddd;
}
.module-footer .pagination {
  margin: 0;
}
.module form.inner {
  padding-top: 30px;
  padding-right: 30px;
}

/* topics */
.topic-item {
  position: relative;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
}
.topic-item:first-of-type {
  border-top: none;
}
.topic-item:hover {
  background-color: #ffe;
}
.topic-item .title {
  padding: 0;
  margin: 0;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.3em;
}
.topic-item .meta {
  font-size: 12px;
  font-family: 'Optima', 'Georgia', serif;
  color: #999;
}
.topic-item .meta a {
  color: #999;
}
.topic-item .avatar {
  position: absolute;
  top: 10px;
  right: 20px;
  display: inline-block;
}
.topic-item .avatar img {
  border-radius: 12px;
}

/* nodes */
.node-item {
  float: left;
  border-radius: 3px;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.node-item:nth-of-type(3n+3) {
  margin-right: 0;
}
.node-item .count {
  display: block;
  background-color: #2ecc71;
  color: white;
  height: 100px;
  line-height: 100px;
  font-size: 56px;
  text-align: center;
  border-radius: 3px 3px 0 0;
}
.node-item .count:hover {
  background-color: #27ae60;
  text-decoration: none;
}
.node-item .title {
  display: block;
  padding: 6px 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #e74c3c;
  border-radius: 0 0 3px 3px;
  color: #fff;
}
.node-item .title:hover {
  background-color: #c0392b;
  text-decoration: none;
}
