@import "nib";

.menu-account {
  margin-left: 42px;

  img {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
  }
  .meta {
    display: block;
  }
}

#wrap {
  background: url('images/bg.png') repeat;
  padding-top: 78px;
  padding-bottom: 30px;
  min-height: 600px;
}

#footer {
  padding: 20px 0 10px;
}

.single {
  max-width: 480px;
  margin: 0 auto 80px;
}

.single h2 {
  margin: 0 0 30px;
  text-align: center;
}
