html, body {
  margin: 0;
  padding: 0;
}

#wrap {
  background: url('images/bg.png') repeat;
  padding-top: 78px;
  padding-bottom: 30px;
}

#footer {
  padding: 20px 0 10px;
}

.single {
  max-width: 480px;
  margin: 0 auto 80px;
}
.single h2 {
  margin: 0 0 30px;
  text-align: center;
}
