@import "nib";

.panel-body > h1, .panel-body > h2, .panel-body > h3 {
  margin-top: 0;
}

.panel-columns .item {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 10px 18px;
  clearfix();

  &:hover {
    background: #f7f5fa;
  }

  &:last-of-type {
    border-bottom: none;
  }

  .avatar, .main {
    float: left;
  }
  .avatar {
    margin-right: 14px;
  }
  .avatar img {
    border-radius: 3px;
  }
  .title {
    margin: 0;
    font: 500 18px / 1.4 sans-serif;
    a {
      color: #778087;
    }
  }
  .meta {
    margin-top: 4px;
    color: #aaa;
    font-size: 12px;
  }
  .badge {
    position: absolute;
    top: 18px;
    right: 18px;
  }
}

.panel-footer .pagination {
  margin: 0;
}
