html, body {
  margin: 0;
  padding: 0;
}

a {
  color: #009FDA;
  text-decoration: none;
}
a:hover {
  color: #00BAFF;
}
textarea {
  min-height: 80px;
}
.sep {
  margin: 0 2px;
  color: #999;
  font-weight: bold;
}

a:hover img {
  opacity: 0.8;
}
.nav-pills li a {
  padding: 4px 15px;
}

.alert-warn {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-warn hr {
  border-top-color: #f7e1b5;
}

.alert-warn .alert-link {
  color: #a47e3c;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-error hr {
  border-top-color: #e4b9c0;
}

.alert-error .alert-link {
  color: #953b39;
}

.label-node {
  display: inline-block;
  line-height: 1.6;
  background: #999;
  margin-bottom: 10px;
}

.main a {
  word-break: break-all;
}
