html, body {
  margin: 0;
  padding: 0;
}

a {
  color: #009FDA;
  text-decoration: none;
}
a:hover {
  color: #00BAFF;
}
textarea {
  min-height: 80px;
}
.sep {
  margin: 0 2px;
  color: #999;
  font-weight: bold;
}

a:hover img {
  opacity: 0.8;
}
.nav-pills li a {
  padding: 4px 15px;
}
