<ol class="line topics">
    {% for topic in page.datalist %}

    {% if nodes %}
    {% set node = nodes[topic.node_id] %}
    {% else %}
    {% set node = None %}
    {% end %}
    <li style="{%if node and node.bgcolor%}border-color:{{node.bgcolor}}{% end %}">
    {% set user = users[topic.user_id] %}
    <a href="/topic/{{topic.id}}{%if topic.reply_count%}#reply{{topic.reply_count}}{%end%}" class="count" title="{{topic.reply_count}} replies">{{topic.reply_count}}</a>
    <div class="content">
        <a class="avatar" href="/member/{{user.username}}" title="{{user.username}}"><img src="{{user.get_avatar(36)}}" width="36" height="36" /></a>
        {%if topic.last_reply_by%}
        {% set replyer = users[topic.last_reply_by] %}
        <a href="/member/{{replyer.username}}" class="avatar small-avatar" title="{{replyer.username}}"><img src="{{replyer.get_avatar(20)}}" width="20" height="20" /></a>
        {% end %}
        <div class="fn-wrap">
            <h2 class="title"><a href="/topic/{{topic.id}}{%if topic.reply_count%}#reply{{topic.reply_count}}{%end%}">{{escape(topic.title)}}</a></h2>
            <div class="meta">
                <a href="/member/{{user.username}}">{{user.username}}</a> posted
                {%if node%}in <a href="/node/{{node.slug}}" rel="category">{{node.title}}</a>{%end%}
                {% if topic.last_reply_time %}
                updated at <time class="updated" datetime="{{xmldatetime(topic.last_reply_time)}}">{{topic.last_reply_time.strftime("%b %d, %Y %H:%M")}}</time>
                {% else %}
                at <time class="updated" datetime="{{xmldatetime(topic.created)}}">{{topic.created.strftime("%b %d, %Y %H:%M")}}</time>
                {% end %}
            </div>
        </div>
    </div>
    </li>
    {% end %}
</ol>
{% if page.page_number > 1 %}
<footer class="cell pagination">
    {% for i in page.pagelist %}
    {% if i == int(page.current_page) %}
    <span href="?p={{i}}">{{i}}</span>
    {% else %}
    <a href="?p={{i}}">{{i}}</a>
    {% end %}
    {% end %}
</footer>
{% end %}
