# This requirements is for development

Flask
misaka
pygments
houdini.py
gevent==0.13.8

# database
Flask-SQLAlchemy

# cache support
Flask-Cache
#python-memcached

# i18n and l10n
Flask-Babel2

# form support
Flask-WTF
WTForms

# mail support
Flask-Mail

# command line tools
Flask-Script

gunicorn
