dl.form > dt {
  margin-bottom: 6px;
}
dl.form > dt label {
  font: bold 13px/1 "Helvetica Neue", "Arial", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  color: #4c4c4c;
}
dl.form > dt span {
  margin-left: 14px;
  font: 500 12px/1 "Helvetica Neue", "Arial", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  color: #999;
}
dl.form.required > dt label:after {
  content: '*';
  font: bold 13px/1 "Helvetica Neue", "Arial", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  color: #d64;
  vertical-align: middle;
  padding: 2px;
}
dl.form dd {
  margin-left: 0;
}
.form input[type=text],
.form input[type=password],
.form input.text,
.form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 400 14px/1 "Helvetica Neue", "Arial", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  color: #4c4c4c;
  padding: 7px 8px;
  margin: 2px 2px 2px 0;
  outline: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,0.075) inset;
  vertical-align: middle;
}
.form textarea {
  width: 100%;
}
.form input[type=text]:focus,
.form input[type=password]:focus,
.form input.text:focus,
.form textarea:focus {
  border-color: rgba(61,142,223,0.6);
  -webkit-box-shadow: 0 0 5px rgba(61,142,223,0.5);
  box-shadow: 0 0 5px rgba(61,142,223,0.5);
}
.form .error-list ul {
  font: 400 12px/1 "Helvetica Neue", "Arial", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #d64;
}
.form .error-list ul li {
  margin: 2px 0;
}
.form.long input[type=text],
.form.long input[type=password],
.form.long input.text {
  width: 400px;
  max-width: 94%;
}
.form.long textarea {
  height: 200px;
}
.form.short input[type=text],
.form.short input[type=password],
.form.short input.text {
  width: 200px;
}
.form.short textarea {
  height: 50px;
}
.form.error input[type=text],
.form.error input[type=password],
.form.error input.text,
.form.error textarea {
  border-color: rgba(221,102,68,0.6);
  -webkit-box-shadow: 0 0 5px rgba(221,102,68,0.5);
  box-shadow: 0 0 5px rgba(221,102,68,0.5);
}
div.checkbox-form {
  padding-left: 20px;
  margin: 15px 0;
}
div.checkbox-form label {
  font: bold 13px/1 "Helvetica Neue", "Arial", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  vertical-align: middle;
  padding: 0 2px;
}
div.checkbox-form input[type=checkbox],
div.checkbox-form input[type=radio] {
  vertical-align: middle;
  margin: 0 6px 0 -20px;
}
div.checkbox-form p {
  font: 400 12px/1 "Helvetica Neue", "Arial", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  margin: 4px 0;
  color: #999;
}
div.checkbox-form.highlight label {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(255,216,0,0.25);
}
