.container {
    max-width: 980px;
    margin: 0 auto;
}
#header {
    font-weight: bold;
    background: #fcfcfc url('../img/bg-line.jpg') repeat-x;
    box-shadow: 0 1px 3px #ddd;
}
#header .container {
    max-width: 980px;
    margin: 0 auto;
    padding: 10px 30px;
    line-height: 40px;
}
#brand {
    float: left;
}
#brand-name {
    font-size: 18px;
}
#header form {
    display: inline-block;;
    margin-left: 8px;
    padding-left: 6px;
    border-left: 1px solid #eee;
}
#header input {
    -webkit-appearance: textfield;
    padding: 4px 0;
    border: 1px solid #ddd;
    border-radius: 0;
    width: 160px;
}
#header a {
    border-bottom: 0 none;
}
#header nav {
    float: right;
}
#header nav a {
    text-transform: uppercase;
    margin-right: 16px;
    border-bottom: 0 none;
    font-size: 12px;
}
#header nav a:hover {
    border-bottom: 2px solid;
}
#header .notification {
    display: inline-block;
    margin-left: 8px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
    background: #f53477;
    box-shadow: 0 0 8px #f51d68;
    color: #fff;
}
#header .notification:hover {
    opacity: 0.8;
}
#flash-message {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 14px;
}
#flash-message span {
    display: inline-block;
    background-color: #89c237;
    color: #fff;
    padding: 1px 10px;
    border-radius: 0 0 4px 4px;
}
#flash-message .info {
    background-color: #89c237;
}
#flash-message .warn {
    background-color: #ff9201;
}
#flash-message .error {
    background-color: #f53477;
}
#main {
    margin-right: 30%;
    border-right: 1px solid #dadada;
}
#content {
    float: left;
    width: 100%;
}
#side {
    float: right;
    width: 42%;
    margin-right: -42%;
}
.widget {
    padding: 10px 20px 30px;
}
.widget-head {
    font-weight: bold;
    font-size: 14px;
    color: #222;
}
