@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=PT+Sans);
html, body {
    color: #444;
    padding: 0;
    margin: 0;
    font: 16px/1.62 "Open Sans", "Xin Gothic", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
}
h1, h2, h3, h4, h5, strong {
    font-family: "PT Sans", "Xin Gothic", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
}
h1 {
    margin-top: 0;
    font-size: 28px;
}
h2 {
    font-size: 22px;
    margin: 45px 0 15px;
}
h3 {
    font-size: 18px;
    margin: 30px 0 10px;
}

/* block level */
blockquote {
    border-left: 0.4em solid #ddd;
    margin: 15px 0;
    padding: 0 15px;
    color: #777;
}
blockquote blockquote {
    padding: 0 0 0 1em;
    margin-left: 2em;
    border-left: 0.4em solid #ddd;
}
p {
    font-weight: normal;
    line-height: 1.8;
    margin: 20px 0;
}
figure {margin:0; padding:0;}

hr {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

ul, ol {
    margin: 14px 0;
    padding-left: 30px;
}
ul {
    list-style: square;
}
li ul {
    list-style: disc;
    margin: 8px 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #bbb;
}
table tr:nth-child(2n) {
    background: #eee;
}
table th, table td {
    text-align: left;
    padding: 4px 6px;
}
/* span level */
img {
    max-width: 100%;
}
a {
    color: #000;
    text-decoration: none;
    overflow: hidden;
    word-wrap: break-word;
    border-bottom: 1px dotted #ddd;
    border-bottom: 1px dotted rgba(0,0,0,0.2);
}
a:hover {
    color: #d14;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    transition: color .5s ease;
}
a img {
    vertical-align: middle;
}
strong {
    color: #424242;
}

/* code */
pre, code, tt {
    font: 14px "Menlo", monospace;
}
pre {
    margin: 1em 0;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.5em;
    color: #444;
    overflow: auto;
    box-shadow: rgba(0,0,0,0.07) 0 1px 2px inset;
    border-radius: 3px;
}
code, tt {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre code {
    padding: 0;
    color: #444;
    border: none;
    background: inherit;
}

/* form */
textarea, input {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 8px;
}
textarea:focus, input:focus {
    border-color: #999;
    outline: 0 none;
}

::selection {
    background: rgba(240,17,68,0.8);
    color: #fff;
}
