{% extends "layout.html" %}
{% from "macro/form.html" import horizontal_field, horizontal_form_button %}

{% block subtitle %}{{_('Settings')}}{% endblock %}

{% block content %}
<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">{{_('Edit Profile')}}</h3>
  </div>
  <form class="form-horizontal panel-body" method="post" action="">
    {{ form.csrf_token }}
    {{ horizontal_field(form.screen_name, 'input-block-level') }}
    {{ horizontal_field(form.website, 'input-block-level') }}
    {{ horizontal_field(form.city, 'input-block-level') }}
    {{ horizontal_field(form.description, 'input-block-level') }}
    {{ horizontal_field(form.company, 'input-block-level') }}
    {{ horizontal_field(form.title, 'input-block-level') }}

    {{ horizontal_form_button(_('Update'), 'btn-success') }}
  </form>
</div>
{% endblock %}
