{% extends "layout.html" %}
{% from "snippet/macro.html" import horizontal_field %}

{% block subtitle %}{{ _('Settings') }}{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ _('Edit Profile') }}</h3>
    </div>
    <form class="form-horizontal panel-body" method="post" action="">
      {{ form.csrf_token }}
      {{ horizontal_field(form.screen_name) }}
      {{ horizontal_field(form.website) }}
      {{ horizontal_field(form.city) }}
      {{ horizontal_field(form.description) }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary">{{ _('Update') }}</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
