{% extends "layout.html" %}
{% from "macro/form.html" import render_field %}

{% block subtitle %}{{_('Signin')}}{% endblock %}

{% block content %}
<form class="single" method="post" action="">
  {{ form.csrf_token }}
  {{ render_field(form.account, 'long') }}
  {{ render_field(form.password, 'long') }}

  <div class="checkbox-form">
    {{form.permanent()}} {{form.permanent.label()}}
  </div>

  <div class="form-submit">
    <button class="classy">Submit</button>
    <a href="{{url_for('.find')}}">{{_('Forget Password?')}}</a>
  </div>
</form>
{% endblock %}
