{% extends "layout.html" %}
{% from "snippet/macro.html" import form_field %}

{% block subtitle %}{{ _('Sign Up') }}{% endblock %}

{% block main %}
  <div class="panel panel-default single">
    <form class="panel-body" role="form" method="post" action="">
      <h2>{{ _('Sign Up') }}</h2>
      {{ form.csrf_token }}
      {{ form_field(form.username) }}
      {{ form_field(form.email) }}
      {{ form_field(form.password) }}
      <div class="form-group">
        <button class="btn btn-primary">{{ _('Sign Up') }}</button>
        <a class="btn btn-link" href="{{ url_for('.signin') }}">{{ _('Already have an account?') }}</a>
      </div>
    </form>
  </div>
{% endblock %}
