{% extends "layout.html" %}
{% from "macro/form.html" import vertical_field %}

{% block subtitle %}{{_('Signin')}}{% endblock %}

{% block main %}
<form class="form-single" method="post" action="">
  <h2>{{ config.SITE_TITLE}}</h2>
  {{ form.csrf_token }}
  {{ vertical_field(form.account, 'input-block-level') }}
  {{ vertical_field(form.password, 'input-block-level') }}

  <div class="checkbox-form">
    {{form.permanent()}} {{form.permanent.label()}}
  </div>

  <div class="form-submit">
    <button class="btn btn-success">{{_('Sign In')}}</button>
    <a href="{{url_for('.find')}}">{{_('Forget Password?')}}</a>
  </div>
</form>
{% endblock %}
