{% extends "layout.html" %}
{% from "snippet/macro.html" import form_field %}

{% block subtitle %}{{ _('Sign In') }}{% endblock %}

{% block main %}
  <div class="panel panel-default single">
    <form class="panel-body" role="form" method="post" action="">
      <h2>{{ _('Sign In') }}</h2>
      {{ form.csrf_token }}
      {{ form_field(form.account) }}
      {{ form_field(form.password) }}

      <div class="form-group">
        {{ form.permanent() }} {{ form.permanent.label() }}
      </div>

      <div class="form-group">
        <button class="btn btn-primary">{{ _('Sign In') }}</button>
        <a class="btn btn-link" href="{{ url_for('.find') }}">{{ _('Forget Password?') }}</a>
      </div>
    </form>
  </div>
{% endblock %}
