<ol class="line topics">
    {% for user in page.datalist %}

    <li>
    <a href="/member/{{user.username}}" class="count" title="#{{user.id}}">#</a>
    <div class="content">
        <a class="avatar" href="/member/{{user.username}}" title="{{user.username}}"><img src="{{user.get_avatar(36)}}" width="36" height="36" /></a>
        <div class="fn-wrap">
            <h3 class="entry-title"><a class="fn url" href="/member/{{user.username}}">{{user.username}}</a></h3>
            <div class="meta">
                <span>{{ _("Reputation") }}: {{user.reputation}}</span>
                <span>{{ _("Join at") }}: {{user.created.strftime("%Y-%m-%d")}}</span>
                {% if user.website %}{{ _("Website") }}: <a href="{{user.website}}">{{escape(user.website)}}</a>{% end %}
            </div>
        </div>
    </div>
    </li>
    {% end %}
</ol>
{% if page.page_number > 1 %}
<footer class="cell pagination">
    {% for i in page.pagelist %}
    {% if i == int(page.current_page) %}
    <span href="?p={{i}}">{{i}}</span>
    {% else %}
    <a href="?p={{i}}">{{i}}</a>
    {% end %}
    {% end %}
</footer>
{% end %}
