<ol class="line">
    {% for topic in page.datalist %}

    {% set node = nodes[topic.node_id] %}
    <li style="{%if node.bgcolor%}border-color:{{node.bgcolor}}{% end %}">
    <a href="{{topiclink(topic)}}" class="count" title="{{topic.reply_count}} replies">{{topic.reply_count}}</a>
    <div class="content">
        <div class="fn-wrap">
            <h2 class="title"><a href="{{topiclink(topic)}}">{{escape(topic.title)}}</a></h2>
            <div class="meta">
                posted in <a href="/node/{{node.slug}}" rel="category">{{node.title}}</a>
                at <time class="updated" datetime="{{xmldatetime(topic.created)}}">{{topic.created.strftime("%b %d, %Y %H:%M")}}</time>
            </div>
        </div>
    </div>
    </li>
    {% end %}
</ol>
{% if page.page_number > 1 %}
<footer class="cell pagination">
    {% for i in page.pagelist %}
    {% if i == int(page.current_page) %}
    <span href="?p={{i}}">{{i}}</span>
    {% else %}
    <a href="?p={{i}}">{{i}}</a>
    {% end %}
    {% end %}
</footer>
{% end %}
