{% extends "layout.html" %}

{% block title %}{{context.sitename}}{% end %}

{% block afterstyle %}
<link rel="canonical" href="{{context.siteurl}}" />
{% end %}

{% block main %}
{% module TopicListModule(0) %}
{% end %}

{% block sidebar %}
{% if current_user %}
{% module MemberModule(current_user) %}

<div class="widget">
    <h4 class="widget-title">{{ _("Following") }}</h4>
    <div class="fn-wrap">
        {% module FollowedNodesModule(current_user.id) %}
    </div>
</div>
<div class="widget">
    <h4 class="widget-title">{{ _("Recent Updates") }}</h4>
    {% module LastRepliedTopicsModule() %}
</div>
{% end %}
<div class="widget">
    <h4 class="widget-title">{{ _("Recent Join") }}</h4>
    <div class="fn-wrap">
        {% for user in members %}
        <a class="avatar fn-left" href="/member/{{user.username}}" title="{{user.username}}"><img src="{{user.get_avatar(36)}}" alt="avatar" width="36" height="36" /></a>
        {% end %}
    </div>
</div>
{% end %}
