{% extends "layout.html" %}

{% block title %}{{context.sitename}}{% end %}

{% block main %}
<div id="main">
    {% for topic in topics %}
    <div class="js-snippet cell" data-url="/topic/{{topic.id}}">
        {% set user = users[topic.user_id] %}
        <img class="avatar" src="{{user.get_avatar(48)}}" width="48" height="48" />
        <div class="fn-wrap">
            <div class="cell-content">
                <h2><a href="/topic/{{topic.id}}">{{topic.title}}</a></h2>
            </div>
            <div class="cell-footer">
                <a href="/member/{{user.username}}">{{user.username}}</a>
                {% set node = nodes[topic.node_id] %}
                • <a class="node" href="/node/{{node.slug}}"{%if node.bgcolor%} style="background:{{node.bgcolor}};color:{{node.fgcolor}}{%end%}">{{node.title}}</a>
                •
                <time class="updated" datetime="{{topic.created.strftime("%Y-%m-%dT%H:%M:%SZ")}}">{{topic.created.strftime("%b %d, %Y %H:%M")}}</time>
                •
                {{topic.reply_count}} replies
            </div>
        </div>
    </div>
    {% end %}
</div>
{% end %}

{% block afterfooter %}
<div id="pannel"></div>
<div id="overlay"></div>
{% end %}
