{% extends "layout.html" %}

{% block title %}{{context.sitename}}{% end %}

{% block afterstyle %}
<link rel="canonical" href="{{context.siteurl}}" />
{% end %}

{% block main %}
<div id="main">
    {% module TopicListModule(0) %}
</div>
{% end %}

{% block sidebar %}
{% if current_user %}
{% module MemberModule(current_user) %}
<div class="widget">
    <a href="/topic" class="ui-btn">{{ _("New Topic") }}</a>
</div>
{% end %}

<div class="widget">
    <h4 class="widget-title">{{ _("Recent Join") }}</h4>
    <div class="fn-wrap">
        {% for member in members %}
        <a class="avatar fn-left" href="/member/{{member.username}}" title="{{member.username}}"><img src="{{member.get_avatar(36)}}" alt="avatar" width="36" height="36" /></a>
        {% end %}
    </div>
</div>
{% end %}
