{% extends "layout.html" %}

{% block title %}{{ config.SITE_TITLE }}{% endblock %}
{% from "snippet/macro.html" import topic_columns %}

{% block content %}
  {% if blogs %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ blog }}</h3>
      </div>
      {{ topic_columns(blogs) }}
    </div>
  {% endif %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ _('Recent Topics') }}</h3>
    </div>
    {{ topic_columns(topics) }}
  </div>
{% endblock %}

{% block sidebar %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ _('Recent Nodes') }}</h3>
    </div>
    <div class="panel-body">
      {% for node in nodes %}
        <a class="label label-node" href="{{ url_for('node.view', urlname=node.urlname) }}">{{ node }}</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
