<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.SITE_TITLE }}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/forms.css')}}" />
  </head>
  <body>
    {%- from "macro/ui.html" import render_messages, render_avatar %}
    <div class="container">
      {%- block main %}
      {%- block sidebar %}
      <aside class="cover">
        {%- block cover %}
        <footer>
          <p>Python China is ....</p>
          <div class="action-wrapper">
            {%- if g.user %}
            <a class="action" href="#">{{_('Create a topic')}}</a>
            <a class="signout" href="{{url_for('account.signout')}}">{{_('Sign Out')}}</a>
            {%- else %}
            <a class="action signin" href="{{url_for('account.signin')}}">{{_('Sign In')}}</a>
            <a class="action" href="{{url_for('account.signup')}}">{{_('Sign Up')}}</a>
            {%- endif %}
          </div>
        </footer>
        {%- endblock %}
      </aside>
      {%- endblock %}
      <div class="wrapper">
        <div class="wrapper-inner">

          {%- with messages = get_flashed_messages(with_categories=true) %}
          {{- render_messages(messages) }}
          {%- endwith %}

          {%- block content %}
          {%- endblock %}
        </div>
      </div>
      {%- endblock %}
    </div>
  </body>
</html>
