<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.SITE_TITLE }}{% endblock %}</title>
  </head>
  <body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul id="flash-message">
      {% for category, message in messages %}
      <li class="{{category}}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block main %}
    {% block content %}
    {% endblock %}
    {% endblock %}

  </body>
</html>
