{% extends "layout.html" %}

{% block subtitle %}{{user.username}}{% end %}
{% block afterstyle %}
{% if user.website %}<link rel="me" href="{{user.website}}" />{% end %}
{% end %}

{% block main %}
<div id="main">
    <div id="profile" class="wrapper fn-clear">
        <a class="avatar fn-left" href="/member/{{user.username}}" tabindex="-1"><img src="{{user.get_avatar(48)}}" alt="avatar" width="48" height="48" /></a>
        <div class="fn-wrap">
            <h3><a href="/member/{{user.username}}">{{user.username}}</a></h3>
            <p class="small">
            <span class="hsep">{{ _("Reputation") }}: {{user.reputation}}</span>
            <span class="hsep">{{ _("Join at") }}: {{user.created.strftime("%Y-%m-%d")}}</span>
            {% if user.website %}{{ _("Website") }}: <a href="{{user.website}}">{{user.website}}</a>{% end %}
            </p>
        </div>
    </div>

    {% for topic in topics %}
    <div class="js-snippet cell" data-url="/topic/{{topic.id}}">
        <h2 class="entry-title"><a href="/topic/{{topic.id}}">{{topic.title}}</a></h2>
        <div class="cell-footer">
            <time class="updated" datetime="{{topic.created.strftime("%Y-%m-%dT%H:%M:%SZ")}}">{{topic.created.strftime("%b %d, %Y %H:%M")}}</time>
        </div>
    </div>
    {% end %}
</div>
{% end %}

{% block sidebar %}
<div class="widget">
    <h4 class="widget-title">{{ _("Following") }}</h4>
    {% for node in nodes.itervalues() %}
    <a class="node" href="/node/{{node.slug}}" style="{%if node.bgcolor%}background:{{node.bgcolor}};{% end %}{%if node.fgcolor%}color:{{node.fgcolor}}{%end%}">{{escape(node.title)}}</a>
    {% end %}
</div>
{% end %}
