{% extends "layout.html" %}

{% block subtitle%}{{node.title}}{% end %}

{% block main %}
<div id="main">
    {% for topic in topics %}
    <div class="js-snippet cell" data-url="/topic/{{topic.id}}">
        {% set user = users[topic.user_id] %}
        <img class="avatar" src="{{user.get_avatar(48)}}" width="48" height="48" />
        <div class="fn-wrap">
            <div class="cell-content">
                <h2><a href="/topic/{{topic.id}}">{{topic.title}}</a></h2>
            </div>
            <div class="cell-footer">
                <a href="/member/{{user.username}}">{{user.username}}</a>
                post at <time class="updated" datetime="{{topic.created.strftime("%Y-%m-%dT%H:%M:%SZ")}}">{{topic.created.strftime("%b %d, %Y %H:%M")}}</time>
                •
                {{topic.reply_count}} replies
            </div>
        </div>
    </div>
    {% end %}
</div>
{% end %}

{% block sidebar %}
<div class="widget">
    <h4 class="widget-title">{{ _("In Node") }}</h4>
    <h3><a class="node" href="/node/{{node.slug}}"{%if node.bgcolor%} style="background:{{node.bgcolor}};color:{{node.fgcolor}}{%end%}">{{node.title}}</a></h3>
    <p>{{node.description}}</p>
</div>
<div class="widget">
    <a href="/node/{{node.slug}}/topic" class="ui-btn">{{_("New Topic")}}</a>
    <a href="/node/{{node.slug}}/follow" class="j-follow ui-btn">{{_("Follow")}}</a>
</div>
{% end %}

{% block afterfooter %}
<div id="pannel"></div>
<div id="overlay"></div>
{% end %}
