{% extends "layout.html" %}

{% block subtitle%}{{node.title}}{% end %}

{% block afterstyle %}
<meta name="description" content="{{node.description}}" />
<link rel="alternate" type="application/atom+xml" href="/node/{{node.slug}}/feed" title="{{context.sitename}}:{{node.title}}" />
{{ node.header or '' }}
{% end %}

{% block main %}
<div id="main">
    {% module NodeTopicsModule(node.id) %}
</div>
{% end %}

{% block sidebar %}
<div class="widget">
    <h4 class="widget-title">{{ _("In Node") }}</h4>
    <div class="vsep"><a class="node" href="/node/{{node.slug}}" style="{%if node.bgcolor%}background:{{node.bgcolor}};{% end %}{%if node.fgcolor%}color:{{node.fgcolor}}{%end%}">{{escape(node.title)}}</a></div>
    <p>{{node.description}}</p>
</div>
<div class="widget">
    <a href="/node/{{node.slug}}/topic" class="ui-btn">{{_("New Topic")}}</a>
    {% if is_following %}
    <a href="/node/{{node.slug}}/unfollow" class="js-unfollow ui-btn">{{_("Unfollow")}}</a>
    {% else %}
    <a href="/node/{{node.slug}}/follow" class="js-follow ui-btn">{{_("Follow")}}</a>
    {% end %}
</div>
{% if node.sidebar %}
{{ node.sidebar }}
{% end %}
{% end %}

{% block afterjs %}
{% if node.footer %}
{{ node.footer }}
{% end %}
{% end %}
