{% extends "layout.html" %}

{% block subtitle%}{{node.title}}{% end %}

{% block afterstyle %}
<meta name="description" content="{{node.description}}" />
<link rel="canonical" href="{{context.siteurl}}/node/{{node.slug}}" />
{{ node.header or '' }}
<link rel="alternate" type="application/atom+xml" href="/node/{{node.slug}}/feed" title="{{context.sitename}}:{{node.title}}" />
{% end %}

{% block main %}
<article class="hentry line">
    <a title="{{node.topic_count}} topics" href="/node/{{node.slug}}" class="count" style="{%if node.bgcolor%}background-color:{{node.bgcolor}}{%end%}{%if node.fgcolor%};color:{{node.fgcolor}}{%end%}">{{node.topic_count}}</a>
    <h1 class="entry-title"><a href="/node/{{node.slug}}">{{escape(node.title)}}</a></h1>
    <p class="meta">
        {{ node.description }}
    </p>
    {% if current_user %}
    <a href="/node/{{node.slug}}/topic" class="ui-btn">{{_("New Topic")}}</a>
    {% if is_following %}
    <a href="/node/{{node.slug}}/unfollow" class="js-unfollow ui-btn">{{_("Unfollow")}}</a>
    {% else %}
    <a href="/node/{{node.slug}}/follow" class="js-follow ui-btn">{{_("Follow")}}</a>
    {% end %}
    {% end %}
</article>
{% module NodeTopicsModule(node.id) %}
{% end %}

{% block sidebar %}
{% if current_user %}
{% module MemberModule(current_user) %}
{% end %}
{{ node.sidebar or '' }}
{% end %}

{% block afterjs %}
{{ node.footer or '' }}
{% end %}
