{% extends "layout.html" %}

{% block subtitle %}{{ _("Nodes") }}{% end %}

{% block main %}
<ol class="line nodes">
    {% for node in nodes %}
    <li style="{%if node.bgcolor%}border-color:{{node.bgcolor}}{% end %}">
        <a href="/node/{{node.slug}}#{{node.topic_count}}" class="count" title="{{node.topic_count}} topics">{{node.topic_count}}</a>
        <div class="content">
            <h2 class="title"><a href="/node/{{node.slug}}#{{node.topic_count}}">{{escape(node.title)}}</a></h2>
            <div class="meta">{{node.description}}</div>
        </div>
    </li>
    {% end %}
</ol>
{% end %}

{% block sidebar %}
{% if current_user %}
{% module MemberModule(current_user) %}
<div class="widget">
    <h4 class="widget-title">{{ _("Following") }}</h4>
    <div class="fn-wrap">
        {% module FollowedNodesModule(current_user.id) %}
    </div>
</div>
{% end %}
{% end %}
