{% extends "layout.html" %}

{% block subtitle %}{{ _("Nodes") }}{% end %}

{% block main %}
<div id="main">
    <div class="wrapper nodes">
        {% for node in nodes %}
        <a class="node" href="/node/{{node.slug}}"{%if node.bgcolor%} style="background:{{node.bgcolor}};color:{{node.fgcolor}}{%end%}">{{node.title}}</a>
        {% end %}
    </div>
</div>
{% end %}

{% block sidebar %}
{% if current_user %}
{% module MemberModule(current_user) %}
<div class="widget">
    <a href="/topic" class="ui-btn">{{_("New Topic")}}</a>
</div>
{% end %}
{% end %}
