{% extends "layout.html" %}

{% block subtitle %}{{ _("Signin") }}{% end %}

{% block afterstyle %}
<link rel="canonical" href="{{context.siteurl}}/account/signin" />
{% end %}

{% block main %}
<form action="" method="post">
    {{ xsrf_form_html() }}
    <div class="fm-item fm-required">
        <label class="fm-label" for="account">{{ _("Account") }}</label>
        <input type="text" class="fm-text" name="account" required />
    </div>
    <div class="fm-item fm-required">
        <label class="fm-label" for="password">{{ _("Password") }}</label>
        <input type="password" class="fm-text" name="password" required />
    </div>
    <div class="fm-item">
        <button class="ui-btn">{{_("Signin")}}</button>
        <a href="/account/signin/google" class="ui-btn">Signin with Google</a>
    </div>
</form>
{% end %}
