{% extends "layout.html" %}

{% block subtitle %}{{topic.title}}{% end %}

{% block main %}
<div id="main">
    {% include "snippet/topic.html" %}
</div>
{% end %}

{% block sidebar %}
<div class="widget fn-clear">
    <h4 class="widget-title">{{ _("Topic Creator") }}</h4>
    {% set user = users[topic.user_id] %}
    <a class="avatar fn-left" href="/member/{{user.username}}" tabindex="-1"><img src="{{user.get_avatar(48)}}" alt="avatar" width="48" height="48" /></a>
    <div class="fn-wrap">
        <a href="/member/{{user.username}}">{{user.username}}</a>
        <div class="meta">
            {{ _("Reputation") }}: {{user.reputation}}
        </div>
    </div>
</div>

<div class="widget fn-clear">
    <h4 class="widget-title">{{ _("In Node") }}</h4>
    <div class="fn-wrap">
        <a class="node" href="/node/{{node.slug}}">{{node.title}}</a>
        <p>{{node.description}}</p>
    </div>
</div>

<div class="widget">
    <a href="/node/{{node.slug}}/topic" class="ui-btn">{{_("New Topic")}}</a>
</div>

{% end %}
