{% extends "layout.html" %}

{% block subtitle %}{{escape(topic.title)}}{% end %}

{% block afterstyle %}
<link rel="canonical" href="{{context.siteurl}}/topic/{{topic.id}}" />
{{ node.header or '' }}
{% end %}

{% block main %}
<article class="hentry" data-id="{{topic.id}}">
    {% set user = topic.creator %}
    <a href="/member/{{user.username}}" class="avatar" tabindex="-1" title="{{user.username}}"><img src="{{user.get_avatar(36)}}" width="36" height="36" /></a>
    <h1 class="entry-title"><a href="/topic/{{topic.id}}">{{escape(topic.title)}}</a></h1>
    <div class="meta vcard">
        <a class="url fn" href="/member/{{user.username}}">{{user.username}}</a> posted
        at <time class="updated" datetime="{{xmldatetime(topic.created)}}">{{topic.created.strftime("%b %d, %Y %H:%M")}}</time>
        {% if current_user %}• {{topic.hits}} hits {%if current_user.role > 9%}{{topic.impact}}{%end%}{%end%}
    </div>
    <div class="entry-content">
        {{ markdown(topic.content) }}
    </div>
    {% if current_user %}
    <div class="vote">
        <a class="ui-btn{%if current_user.id in topic.up_users%} active{%end%}" href="#" data-api="topic/{{topic.id}}/up">{{len(list(topic.up_users))}} like</a>
        <a class="ui-btn{%if current_user.id in topic.down_users%} active{%end%}" href="#" data-api="topic/{{topic.id}}/down">{{len(list(topic.down_users))}} hate</a>
    </div>
    {% end %}
</article>
{% module ReplyListModule(topic) %}

{% if current_user %}
<form action="/topic/{{topic.id}}" method="post" class="reply-form fm fn-clear">
    {{ xsrf_form_html() }}
    <div id="editor" class="fm-item">
        <div id="editor-pannel">
            <a href="#" class="js-write current">{{ _("Write") }}</a>
            <a href="#" class="js-preview">{{ _("Preview") }}</a>
            <input type="file" name="image" accept="image/*" />
            <div id="editor-explain">
                <a class="copyright" href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> and 
                <a href="http://www.emoji-cheat-sheet.com/" class="copyright">Emoji</a> Support
            </div>
        </div>
        <textarea id="reply-content" name="content" class="fm-text"></textarea>
        <div id="editor-preview"></div>
    </div>
    <button type="submit" class="ui-btn">{{ _("Post") }}</button>
</form>
{% end %}
{% end %}

{% block sidebar %}
{% if current_user %}
{% module MemberModule(current_user) %}
{% end %}
<div class="widget">
    <h4 class="widget-title">{{ _("In Node") }}</h4>
    <a class="node" href="/node/{{node.slug}}" style="{%if node.bgcolor%}background-color:{{node.bgcolor}}{% end %}{%if node.fgcolor%};color:{{node.fgcolor}}{%end%}">{{escape(node.title)}}</a>
    <p>{{node.description}}</p>
</div>

{% if current_user %}
<div class="widget">
    <a href="/node/{{node.slug}}/topic" class="ui-btn">{{_("New Topic")}}</a>
    {% if current_user.id == topic.user_id %}
    <a href="/topic/{{topic.id}}/edit" class="ui-btn">{{_("Edit Topic")}}</a>
    <a href="/topic/{{topic.id}}/move" class="ui-btn">{{_("Move Topic")}}</a>
    {% end %}
</div>
{% end %}

{{ node.sidebar or '' }}
{% end %}

{% block afterjs %}
<script type="text/javascript" src="{{static_url('js/at.js')}}"></script>
{{ node.footer or '' }}
{% end %}
