{% extends "layout.html" %}

{% block subtitle %}{{ _("Topic") }}{% end %}
{% block afterstyle %}
<style type="text/css">
    #main textarea {
        height: 400px;
        width: 96%;
    }
</style>
{% end %}

{% block main %}
<div id="main">
    <div class="cell">
        {{ _("This topic is in") }}: <a href="/node/{{node.slug}}"><strong>{{node.title}}</strong></a>
    </div>
    <form action="" method="post" class="fm">
        {{ xsrf_form_html() }}
        <div class="fm-row">
            <div class="fm-item fm-required">
                <label class="fm-label" for="title">{{ _("Title") }}</label>
                {% if topic %}
                <input type="text" class="fm-text" name="title" value="{{topic.title or ""}}" required/>
                {% else %}
                <input type="text" class="fm-text" name="title" required/>
                {% end %}
            </div>
        </div>
        <div class="fm-row">
            <div class="fm-item fm-required">
                <label class="fm-label" for="content">{{ _("Content") }}</label>
                <textarea name="content" class="fm-text" required>{% if topic %}{{topic.content or ""}}{% end %}</textarea>
            </div>
        </div>
        <div class="fm-row">
            <div class="fm-item">
                <button type="submit" class="ui-btn">{{_("Save")}}</button>
                <a href="#" class="ui-btn js-preview">{{_("Preview")}}</a>
                {% if topic %}<a class="ui-btn" href="/topic/{{topic.id}}">{{ _("Cancel") }}</a>{% end %}
            </div>
        </div>
    </form>
</div>
{% end %}

{% block sidebar %}
<div id="markdown-explain" class="widget">
<pre>```python
def hello():
    return True
```</pre>
<a class="copyright" href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> Powered
</div>
<div class="widget" id="markdown-preview">
</div>
{% end %}

{% block afterjs %}
<script type="text/javascript" src="{{static_url('js/lib/showdown.js')}}"></script>
<script type="text/javascript">
    var converter = new Showdown.converter()
    var textarea = $('#main textarea');
    if (textarea.val()) {
        var html = converter.makeHtml(textarea.val());
        $('#markdown-preview').html(html);
    }
    textarea.keyup(function(){
        var txt = $(this).val();
        var html = converter.makeHtml(txt);
        $('#markdown-preview').html(html);
    });
</script>
{% end %}
