{% extends "layout.html" %}

{% block subtitle %}{{ _("Create Topic") }}{% end %}

{% block content %}
<div class="ui-box">
    <div class="ui-box-header">
        <h3>{{ _("Choose a node") }}</h3>
    </div>
    <div class="ui-box-container nodes">
        {% for node in nodes %}
        <a class="node" href="/node/{{node.slug}}/create" style="
            {%if node.bgcolor%}background-color:{{node.bgcolor}};{%end%}
            {%if node.fgcolor%}color:{{node.fgcolor}};{%end%}
            {%if not node.fgcolor and node.bgcolor%}color:#fff;{%end%}
            ">{{node.title}}</a>
        {% end %}
    </div>
</div>

<div id="markdown-syntax" class="ui-box">
    <div class="ui-box-header fn-clear">
        <h4>Markdown Syntax</h4>
    </div>
    <div class="ui-box-container">
        {% include "snippet/markdown.html" %}
    </div>
</div>
{% end %}

{% block sidebar %}
<div class="ui-box">
    <div class="ui-box-header">
        <h4>{{ _("Feedback") }}</h4>
    </div>
    <div class="ui-box-container">
        <p>{{ _("Can't find a node?") }}</p>
        <p>{{ _("Have anything in trouble?") }}</p>
    </div>
    <div class="ui-box-footer">
        <a href="#" class="ui-btn">{{_("Feedback")}}</a>
    </div>
</div>
{% end %}
