<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Python China{% endblock %}</title>
    {% include "_snippet/head.html" %}
  </head>
  <body>
    <header id="header">
      <div class="container fn-clear">
        {% block brand %}
        <div id="brand">
          <a id="brand-name" href="/">Python China</a>
          <a href="#" class="notification" title="You have 1 message">1</a>
          <form action="">
            <input type="search" />
          </form>
        </div>
        {% endblock %}
        <nav role="navigation">
          {% block navigation %}
          <a href="/">Latest</a>
          <a href="/following">Following</a>
          <a href="/nodes">Nodes</a>
          {% endblock %}
        </nav>
      </div>
    </header>
    <div id="flash-message"><span class="error">Flash Message</span></div>

    <div class="container">
      <div id="main" class="fn-clear">
        <div id="content">
          {% block content %}
          hello world
          {% endblock %}
        </div>

        <aside id="side">
          {% block sidebar %}
          <div class="widget">
            <header class="widget-head">Head</header>
            <div class="widget-content">
              hello world
            </div>
          </div>
          {% endblock %}
        </aside>
      </div>
    </div>
    {% include "_snippet/foot.html" %}
  </body>
</html>
