<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{%block title%}{%block subtitle%}{%end%} | {{g.sitename}}{%end%}</title>
        {{ g.header or '' }}
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        <link rel="stylesheet" href="{{static_url('css/site.css')}}" />
        <link rel="stylesheet" href="http://fortawesome.github.com/Font-Awesome/assets/css/font-awesome.css" />
        {% block afterstyle %}{% end %}
        <script type="text/javascript">
            {% if current_user %}
            var user = {{current_user.to_json()}};
            {% else %}
            var user = {id: 0};
            {% end %}
        </script>
        <link rel="alternate" type="application/atom+xml" href="{{g.sitefeed}}" title="{{g.sitename}}" />
    </head>
    <body>
        <header id="header" role="banner">
            <div class="wrapper fn-clear">
                <h1><a href="/">{{g.sitename}}</a></h1>
                <div class="user-box fn-clear">
                    {% if current_user %}
                    <div class="user">
                        <span class="icon-user"></span>
                        <a href="/~{{current_user.username}}">{{current_user.username}}</a>
                    </div>
                    <nav class="user-links">
                        <a href="/topic/create" title="Create Topic"><span class="icon-edit"></span></a>
                        <a href="/account/setting" title="Setting"><span class="icon-cog"></span></a>
                        <a href="/account/signout" title="Signout"><span class="icon-signout"></span></a>
                    </nav>
                    {% else %}
                    <a href="/account/signin" title="Signin"><span class="icon-signin"></span></a>
                    {% end %}
                </div>
            </div>
        </header>
        <nav id="nav" role="navigation">
            <div class="wrapper">
                <a href="/"><span class="icon-home"></span>{{ _("Latest") }}</a>
                <a href="/popular"><span class="icon-fire"></span>{{ _("Popular") }}</a>
                <a href="/following"><span class="icon-star"></span>{{ _("Following") }}</a>
                <a href="/nodes"><span class="icon-bookmark"></span>{{ _("Nodes") }}</a>
            </div>
        </nav>
        <div id="main">
            <div class="wrapper fn-clear">
                {% for type, message in flash_message() %}
                <div class="alert alert-{{type}}">
                    {{message}}
                </div>
                {% end %}
                {% block main %}
                <div id="content">
                    {% block content %}{% end %}
                </div>
                <div id="sidebar">
                    {% block sidebar %}{% end %}
                </div>
                {% end %}
            </div>
        </div>
        <footer id="footer">
            <div class="wrapper">
                <p>Copyright &copy; {{g.sitename}}. All articles &copy; their respective owners.</p>
                <p class="copyright">Designed by <a href="http://lepture.com">lepture</a>.
                Powered by <a href="https://github.com/lepture/june">June</a> {{g.version}}.
                Hosted by <a href="http://www.linode.com/?r=b9e3629fcf78988ff7cc8f6c4ef59c5a2c626b8a" rel="nofollow">Linode</a>
                </p>
            </div>
        </footer>
        {% block beforejs %}{% end %}
        {% block afterjs %}{% end %}

        {% block signin-box %}
        {% if not current_user %}
        <div id="signin-box">
            <div class="ui-box-header">
                <strong>Signin</strong>
                <span class="ui-close">x</span>
            </div>
            <form class="ui-box-container" action="" method="post">
                {{ xsrf_form_html() }}
                <div class="fm-item fm-required">
                    <input type="text" class="fm-text" name="account" placeholder="Username/Email" required />
                </div>
                <div class="fm-item fm-required">
                    <input type="password" class="fm-text" name="password" placeholder="Password" required />
                </div>
                <button class="ui-btn">{{_("Signin")}}</button>
            </form>
        </div>
        {% end %}
        {% end %}
        <div class="ui-overlay"></div>
    </body>
</html>
