{% extends "layout.html" %}

{% block subtitle %}{{user.username}}{% end %}

{% block afterstyle %}
<link rel="canonical" href="{{g.siteurl}}/~{{user.username}}" />
{% if user.website %}<link rel="me" href="{{user.website}}" />{% end %}
<style type="text/css">
    .widget-profile .ui-box-container { padding: 0 10px; }
    .widget-profile .ui-box-footer { position: relative; color: #999; }
    .widget-profile .ui-box-footer span { color: #454545; }
    .widget-profile .ui-box-footer .ui-label { color: #fff; }
    .widget-profile .ui-box-footer .ui-btn { position: absolute; top: 4px; right: 8px; }
</style>
{% end %}

{% block content %}
<div class="ui-box widget-profile">
    <div class="ui-box-header primary fn-clear">
        <a href="/member/{{user.username}}" class="ui-avatar"><img src="{{user.get_avatar(48)}}" width="48" height="48" /></a>
        <div class="user fn-wrap">
            <div class="username"><strong>{{escape(user.username)}}</strong></div>
            {% if user.website %}
            <div class="website"><a href="{{escape(user.website)}}" rel="nofollow">{{escape(user.website)}}</a></div>
            {% end %}
            <span class="ui-box-label">{{ user.reputation }}</span>
        </div>
    </div>
    {% if user.description %}
    <div class="ui-box-container fn-clear">
        {{ markdown(user.description) }}
    </div>
    {% end %}
    <div class="ui-box-footer">
        <span>#{{user.id}} {{_("join at")}} {{ user.created.strftime("%Y-%m-%d") }}</span>
        {% if user.city %}| <span>{{ _("now at") }} <a href="/city/{{user.city}}">{{user.city}}</a></span>{% end %}
        {% if user.is_staff %}| <span class="ui-label">Staff</span>{% end %}
        <a href="/~{{user.username}}" class="js-overlay ui-btn">{{ _("Send Message") }}</a>
    </div>
</div>
<div class="ui-box">
    <div class="ui-box-header">
        <h3>{{ _("Topics") }}</h3>
    </div>

    {% for topic in topics %}
    {% module Template("module/topic_cell.html", topic=topic) %}
    {% end %}
    {#
    <div class="ui-box-footer">
        <a href="/~{{user.username}}/topics">{{ _("More Topics") }} »</a>
    </div>
    #}
</div>

<div class="ui-box">
    <div class="ui-box-header">
        <h3>{{ _("Likes") }}</h3>
    </div>

    {% for topic in likes %}
    {% module Template("module/topic_cell.html", topic=topic) %}
    {% end %}

    {#
    <div class="ui-box-footer">
        <a href="/~{{user.username}}/likes">{{ _("More Likes") }} »</a>
    </div>
    #}
</div>

<div class="ui-box">
    <div class="ui-box-header">
        <h4>{{ _("Replies") }}</h4>
    </div>
    {% for reply in replies %}
    <div class="ui-cell">
        <a href="/topic/{{reply.topic_id}}#reply-{{reply.id}}">{{ escape(reply.content[:100]) }}</a>
    </div>
    {% end %}
</div>
{% end %}


{% block afterjs %}
{% if current_user and current_user.id != user.id %}
<div class="ui-overlay-dialog">
    <div class="ui-box-header primary">
        <strong>{{ _("Send Message") }}</strong>
        <span class="js-close-overlay icon-cancel"></span>
    </div>
    <form class="ui-box-container" action="/account/message" method="post">
        {{ xsrf_form_html() }}
        <input type="hidden" name="next" value="{{request.uri}}" />
        <input type="hidden" name="username" value="{{user.username}}" />
        <div class="fm-item">
            <textarea name="content" class="fm-text" placeholder="Message" required></textarea>
        </div>
        <button class="ui-btn">{{_("Send")}}</button>
    </form>
</div>
<div class="ui-overlay"></div>
{% end %}
{% end %}
