{% extends "layout.html" %}

{% block subtitle %}{{user.username}}{% end %}
{% block afterstyle %}
{% if user.website %}<link rel="me" href="{{user.website}}" />{% end %}
{% end %}

{% block main %}
<article class="hentry profile vcard">
    <a class="avatar" href="/member/{{user.username}}" tabindex="-1" title="#{{user.id}}"><img class="photo" src="{{user.get_avatar(36)}}" alt="avatar" width="36" height="36" /></a>
    <div class="content">
        <h3 class="entry-title"><a class="fn url" href="/member/{{user.username}}">{{user.username}}</a></h3>
        <div class="meta">
            <span>{{ _("Reputation") }}: {{user.reputation}}</span>
            <span>{{ _("Join at") }}: {{user.created.strftime("%Y-%m-%d")}}</span>
            {% if user.website %}{{ _("Website") }}: <a href="{{user.website}}">{{escape(user.website)}}</a>{% end %}
        </div>
    </div>
</article>
{% module UserTopicsModule(user.id) %}
{% end %}

{% block sidebar %}
<div class="widget">
    <h4 class="widget-title">{{ _("Following") }}</h4>
    <div class="fn-wrap">
        {% module FollowedNodesModule(user.id) %}
    </div>
</div>
{% end %}
