{% extends "layout.html" %}

{% block subtitle %}{{user.username}}{% end %}

{% block afterstyle %}
<link rel="canonical" href="{{g.siteurl}}/~{{user.username}}" />
{% if user.website %}<link rel="me" href="{{user.website}}" />{% end %}
{% end %}

{% block content %}
<div class="ui-box">
    <div class="ui-box-header">
        <h3>{{ _("Topics") }}</h3>
    </div>

    {% for topic in topics %}
    {% module Template("module/topic_cell.html", topic=topic) %}
    {% end %}
    <div class="ui-box-footer">
        <a href="/~{{user.username}}/topics">{{ _("More Topics") }} »</a>
    </div>
</div>

<div class="ui-box">
    <div class="ui-box-header">
        <h3>{{ _("Likes") }}</h3>
    </div>

    {% for topic in likes %}
    {% module Template("module/topic_cell.html", topic=topic) %}
    {% end %}

    <div class="ui-box-footer">
        <a href="/~{{user.username}}/likes">{{ _("More Likes") }} »</a>
    </div>
</div>

{% end %}

{% block sidebar %}
{% module User(user.id) %}

<div class="ui-box">
    <div class="ui-box-header">
        <h4>{{ _("Replies") }}</h4>
    </div>
    {% for reply in replies %}
    <div class="ui-cell">
        <a href="/topic/{{reply.topic_id}}#reply-{{reply.id}}">{{ escape(reply.content[:100]) }}</a>
    </div>
    {% end %}
</div>
{% end %}
