{% extends "layout.html" %}

{% block subtitle %}{{ _("Nodes") }}{% end %}

{% block content %}
<div class="ui-box">
    <div class="ui-box-header">
        <h3>{{ _("All Nodes")}}</h3>
    </div>
    <div class="ui-box-container">
        {% for node in nodes %}
        <a href="/node/{{node.slug}}">{{escape(node.title)}}</a>
        {% end %}
    </div>
</div>
{% end %}

{% block sidebar %}
{% if current_user %}
<div class="ui-box">
    <div class="ui-box-header">
        <h4>{{ _("Following") }}</h4>
    </div>
    <div class="ui-box-container">
    </div>
</div>
{% end %}
{% end %}
