{% extends "layout.html" %}

{% block subtitle%}{{node.title}}{% end %}

{% block afterstyle %}
<meta name="description" content="{{node.description}}" />
<link rel="canonical" href="{{g.siteurl}}/node/{{node.slug}}" />
{{ node.header or '' }}
<link rel="alternate" type="application/atom+xml" href="/node/{{node.slug}}/feed" title="{{g.sitename}}:{{node.title}}" />
{% end %}

{% block content %}
<div class="ui-box">
    <div class="ui-box-header">
        <a href="/">{{g.sitename}}</a> » <a href="/node/{{node.slug}}">{{node.title}}</a>
    </div>
    {% for topic in pagination.datalist %}
    {% module Template("module/topic_cell.html", topic=topic) %}
    {% end %}
    <div class="ui-box-footer pagination">
        {% for p in pagination.page_range %}
        <a href="?p={{p}}">{{p}}</a>
        {% end %}
    </div>
</div>
{% end %}

{% block sidebar %}

{% module Node(node=node) %}

{% if current_user %}
<div class="ui-box">
    <div class="ui-box-header">
        <h4>Following Nodes</h4>
    </div>
    <div class="ui-box-container">
        {% module FollowingNodes(current_user.id) %}
    </div>
</div>
{% end %}

{% end %}
