{% extends "layout.html" %}

{% block subtitle %}{{ _("Notify") }}{% end %}
{% block afterstyle %}
<style type="text/css">
    #main .active {
        background: #f4f3de;
    }
    .content .fn-wrap a {
        color: #565656;
    }
</style>
{% end %}
{% block notify %}{% end %}

{% block main %}
<ol class="line replies">
    {% for msg in notify %}
    <li{% if msg.created > current_user.last_notify %} class="active"{%end%}>
    {% set user = get_user(msg.sender) %}
    <a class="avatar" href="/member/{{user.username}}" tabindex="-1" title="{{user.username}}"><img src="{{user.get_avatar(36)}}" width="36" height="36" /></a>
    <div class="content">
        <div class="fn-wrap">
            <p><a href="{{msg.link}}">{{escape(msg.content)}}</a></p>
            <div class="meta">
                <a href="/member/{{user.username}}">{{user.username}}</a> {{msg.type}} on
                <a href="{{msg.link}}"><strong>{{escape(msg.label)}}</strong></a>
                <time class="updated" datetime="{{msg.created.strftime("%Y-%m-%dT%H:%M:%SZ")}}">{{msg.created.strftime("%b %d, %Y %H:%M")}}</time>
            </div>
        </div>
    </div>
    {% end %}
</ol>
{% end %}

{% block sidebar %}
{% module MemberModule(current_user) %}
{% end %}
