{% extends "layout.html" %}

{% block subtitle %}{{_("Password")}}{% end %}

{% block afterstyle %}
<style type="text/css">
    .fm-label {
        width: 140px;
    }
    .fm-item button:first-of-type {
        margin-left: 155px;
    }
</style>
{% end %}

{% block content %}
<div class="ui-box">
    <div class="ui-box-header">
        <h3>{{ _("Change Password") }}</h3>
    </div>
    <form action="" class="ui-box-container" method="post">
        {{ xsrf_form_html() }}
        {% if token %}
        <input type="hidden" name="token" value="{{token}}" />
        {% else %}
        <div class="fm-item fm-required">
            <label for="password" class="fm-label">{{ _("Old Password") }}</label>
            <input type="password" class="fm-text" name="password" required/>
        </div>
        {% end %}
        <div class="fm-item fm-required">
            <label for="password1" class="fm-label">{{ _("New Password") }}</label>
            <input type="password" class="fm-text" name="password1" required/>
        </div>
        <div class="fm-item fm-required">
            <label for="password2" class="fm-label">{{ _("Confirm") }}</label>
            <input type="password" class="fm-text" name="password2" required/>
        </div>
        <div class="fm-item fm-required">
            <button class="ui-btn">{{_("Save")}}</button>
        </div>
    </form>
</div>
{% end %}

{% block sidebar %}
{% if current_user %}
<div class="ui-box">
    <div class="ui-box-header warn">
        <h4>{{_("Find Password")}}</h4>
    </div>
    <div class="ui-box-container">
        <p>We will send an email to you, follow the link in your email.</p>
        <p>If you don't have a password, you can get a new password by this.</p>
    </div>
    <form action="" class="ui-box-footer" method="post">
        {{ xsrf_form_html() }}
        <input type="hidden" name="action" value="email" />
        <button class="ui-btn">Send</button>
    </form>
</div>
{% end %}
{% end %}
