{% extends "layout.html" %}
{% block subtitle %}{{ _("Search") }}{% end %}

{% block afterstyle %}
<style type="text/css">
    {% include "snippet/google-search.css" %}
</style>
{% end %}

{% block content %}
<div id="cse" class="ui-box">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
    google.load('search', '1', {});
    var googleSearch = function() {
        var customSearchControl = new google.search.CustomSearchControl('{{g.gcse}}', {});
        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
        customSearchControl.draw('cse');
        {%if query%}customSearchControl.execute("{{escape(query)}}");{%end%}
    }
    google.setOnLoadCallback(googleSearch, true);
</script>
{% end %}
