{% extends "layout.html" %}

{% block subtitle %}{{ _("Signin") }}{% end %}

{% block afterstyle %}
<link rel="canonical" href="{{g.siteurl}}/account/signin" />
{% end %}

{% block content %}
<div class="ui-box">
    <div class="ui-box-header">
        <h4>{{_("Login")}}</h4>
    </div>
    <form class="ui-box-container" action="" method="post">
        {{ xsrf_form_html() }}
        <div class="fm-item fm-required">
            <label class="fm-label" for="account">{{ _("Account") }}</label>
            <input type="text" class="fm-text" name="account" required />
        </div>
        <div class="fm-item fm-required">
            <label class="fm-label" for="password">{{ _("Password") }}</label>
            <input type="password" class="fm-text" name="password" required />
        </div>
        <div class="fm-item">
            <button class="ui-btn">{{_("Signin")}}</button>
            <a href="/account/signin/google" class="ui-btn">Google Account</a>
        </div>
    </form>
</div>

<div class="ui-box">
    <div class="ui-box-header">
        <h4>{{ _("Find Password") }}</h4>
    </div>
    <form class="ui-box-container" action="/account/password" method="post">
        {{ xsrf_form_html() }}
        <input type="hidden" name="action" value="email" />
        <div class="fm-item fm-required">
            <label class="fm-label" for="email">{{ _("Email") }}</label>
            <input type="email" class="fm-text" name="email" placeholder="Email" />
            <div class="fm-explain">{{_("Please leave your contact email.")}}</div>
        </div>
        <div class="fm-item">
            <button class="ui-btn">{{_("Send")}}</button>
        </div>
    </form>
    <div class="ui-box-footer">
        If you can't remember your email address, please contact administrators.
    </div>
</div>
{% end %}

{% block sidebar %}
<div class="ui-box">
    <div class="ui-box-header">
        <h4>{{ _("Don't have an account?") }}</h4>
    </div>
    <div class="ui-box-container">
        <a href="/account/signup" class="ui-btn">{{ _("Signup") }}</a>
    </div>
</div>
{% end %}
