{% extends "layout.html" %}

{% block subtitle%}{{title}}{%end%}

{% block content %}
<div class="ui-box">
    <div class="ui-box-header">
        <a href="/">{{g.sitename}}</a> » {{title}}
    </div>

    {% for topic in pagination.datalist %}
    {% module Template("module/topic_cell.html", topic=topic) %}
    {% end %}

    <div class="ui-box-footer pagination">
        {% for p in pagination.page_range %}
        <a href="?p={{p}}">{{p}}</a>
        {% end %}
    </div>
</div>
{% end %}

{% block sidebar %}

{% if current_user %}
<div class="ui-box">
    <div class="ui-box-header">
        <h4>Following Nodes</h4>
    </div>
    <div class="ui-box-container">
        {% module FollowingNodes(current_user.id) %}
    </div>
</div>
{% end %}

<div class="ui-box">
    <div class="ui-box-header">
        <h4>Recent Nodes</h4>
    </div>
    <div class="ui-box-container">
        {% module RecentAddNodes() %}
    </div>
</div>

{% end %}
