{% extends "layout.html" %}

{% block subtitle %}{{ _(title) }}{% end %}

{% block afterstyle %}
<style type="text/css">
</style>
{% end %}

{% block main %}
<div class="ui-box">
    <h3 class="ui-box-title">{{ _("This topic is in") }}: <a href="/node/{{node.slug}}"><strong>{{node.title}}</strong></a></h3>

    <form action="" method="post">
        {{ xsrf_form_html() }}
        <div id="editor">
            <div id="editor-pannel">
                <a href="#" class="js-write current" tabindex="-1">{{ _("Write") }}</a>
                <a href="#" class="js-preview" tabindex="-1">{{ _("Preview") }}</a>
                <input type="file" name="image" accept="image/*" />
            </div>
        </div>
    </form>
</div>
<div id="markdown-form">
    <form action="" method="post">
        <div class="fm-item fm-required">
            <label for="title">{{ _("Title") }}</label>
            <input type="text" class="fm-text" name="title" value="{{topic.title or ""}}" required/>
        </div>
        <div id="editor" class="fm-item fm-required fn-clear">
            <div id="editor-pannel">
                <a href="#" class="js-write current" tabindex="-1">{{ _("Write") }}</a>
                <a href="#" class="js-preview" tabindex="-1">{{ _("Preview") }}</a>
                <div id="editor-explain">
                    <a class="copyright" href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> and 
                    <a href="http://www.emoji-cheat-sheet.com/" class="copyright">Emoji</a> Support
                </div>
            </div>
            <textarea name="content" class="fm-text" required>{% if topic %}{{topic.content or ""}}{% end %}</textarea>
            <div id="editor-preview"></div>
        </div>
        <div>
            <button type="submit" class="ui-btn">{{_("Save")}}</button>
            {% if topic %}<a class="ui-btn" href="/topic/{{topic.id}}">{{ _("Cancel") }}</a>{% end %}
        </div>
    </form>
</div>
<div id="markdown-explain">
    <pre>```python
def hello():
    return True
```</pre>
    <div id="markdown-preview">
    </div>
</div>
{% end %}

{% block afterjs %}
<script type="text/javascript" src="{{static_url('js/editor.js')}}"></script>
{% end %}
