{% extends "layout.html" %}

{% block subtitle %}{{escape(topic.title)}}{% end %}

{% block afterstyle %}
<link rel="canonical" href="{{g.siteurl}}/topic/{{topic.id}}" />
{{ node.header or '' }}
{% end %}

{% block content %}
<article class="hentry ui-box" data-id="{{topic.id}}">
    <h3 class="ui-box-title entry-title">{{topic.title}}</h3>
    {{ markdown(topic.content) }}
</article>
{% end %}

{% block sidebar %}
<div class="ui-box">
    <h3 class="ui-box-title">In Node</h3>
    <div class="ui-box-container">
        {{node.description}}
    </div>
</div>
{% end %}
