{% extends "layout.html" %}

{% block subtitle%}{{title}}{%end%}

{% block content %}
<div class="ui-box">
    <div class="ui-box-header">
        <a href="/">{{g.sitename}}</a> » {{title}}
    </div>
    {% for topic in topics %}
    <div class="ui-cell">
        <a href="/member/{{topic.user.username}}" class="ui-avatar"><img src="{{topic.user.get_avatar(48)}}" width="48" height="48" /></a>
        {% if topic.replyer %}
        <a href="/member/{{topic.replyer.username}}" class="ui-small-avatar"><img src="{{topic.replyer.get_avatar(24)}}" width="24" height="24" /></a>
        {% end %}
        <div class="ui-cell-body">
            <h3 title="{{_("Created at")}} {{topic.created}}"><a href="/topic/{{topic.id}}">{{topic.title}}</a></h3>
        </div>
        <div class="ui-cell-footer">
            by <a href="/member/{{topic.user.username or topic.user.id}}">{{topic.user.username}}</a> •
            in <a href="/node/{{topic.node.slug}}">{{topic.node.title}}</a> •
            {{topic.hits or 1}} hits •
            {% if topic.last_reply_time %}
            <time datetime="{{xmldatetime(topic.last_reply_time)}}" title="replied">{{topic.last_reply_time}}</time>
            {% else %}
            <time datetime="{{xmldatetime(topic.created)}}" title="created">{{topic.created}}</time>
            {% end %}
        </div>
    </div>
    {% end %}
    <div class="ui-box-pagination">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
    </div>
</div>
{% end %}

{% block sidebar %}
{% end %}
