{% extends "layout.html" %}

{% block subtitle %}{{city}}{% endblock %}

{% from "macro/ui.html" import nav, user_list, pagination %}

{% block nav %}
{{ nav('user') }}
{% endblock %}

{% block content %}
<div class="module">
  <div class="module-header inner">
    <strong>{{city}}</strong>
  </div>
  <div class="module-body">
    {{ user_list(paginator.items) }}
  </div>
  {% if paginator.pages > 1 %}
  <div class="module-footer inner">
    {{ pagination(paginator, url_for('user.city', city=city)) }}
  </div>
  {% endif %}
</div>
{% endblock %}
