{% extends "layout.html" %}

{% block subtitle %}{{ _('Edit Topic') }}{% endblock %}

{% block wrap %}
  <div class="topic-form">
    <form class="form" method="post" action="">
      {{ form.csrf_token }}
      {{ form.title(placeholder=form.title.description) }}
      {{ form.content(placeholder=form.content.description) }}
      <div class="text-right">
        <button data-target="#content" class="btn btn-default preview-button">{{ _('Preview') }}</button>
        <button class="btn btn-success">{{ _('Update') }}</button>
      </div>
    </form>
    <form class="danger-area" action="{{ url_for('topic.delete', uid=topic.id) }}" method="post">
      <input type="password" class="sep" name="password" placeholder="{{ _('Password') }}"/>
      <button class="btn btn-danger pull-right">{{ _('Delete') }}</button>
    </form>
    <div class="markdown-help">
      <h3>Markdown Syntax</h3>
      {% include "snippet/markdown-help.html" %}
    </div>
  </div>
{% endblock %}
