{% extends "layout.html" %}
{% from "macro/form.html" import render_field %}

{% block subtitle %}{{_('Edit Topic')}}{% endblock %}

{% block main %}
<div class="row-fluid">
  <div class="span6">
    <div class="module">
      <div class="module-header inner">
        <strong>{{_('Edit Topic')}}</strong>
      </div>
      <form class="form topic-form" method="post" action="">
        <div class="inner">
          {{ form.csrf_token }}

          {{ render_field(form.title, 'input-block-level') }}
          {{ render_field(form.content, 'input-block-level') }}
        </div>
        <div class="module-footer inner clearfix">
          <button class="btn btn-success pull-right">{{_('Update')}}</button>
        </div>
      </form>
    </div>
  </div>
  <div class="span6">
    <div class="module">
      <div class="inner">
        {% include "snippet/markdown-help.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
