{% extends "layout.html" %}

{% block subtitle %}{{_('Topics')}}{% endblock %}

{% block content %}
<div class="module">
  <div class="module-body inner">
    <ul>
      {% for topic in paginator.items %}
      <li><a href="{{url_for('topic.view', uid=topic.id)}}">{{topic}}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% if paginator.pages > 1 %}
  <div class="module-footer inner">
    {% from "macro/ui.html" import pagination %}
    {{ pagination(paginator, url_for('topic.topics')) }}
  </div>
  {% endif %}
</div>
{% endblock %}
