{% extends "layout.html" %}

{% block subtitle %}{{_('Topics')}}{% endblock %}

{% from "macro/ui.html" import nav %}

{% block nav %}
{{ nav('topic') }}
{% endblock %}


{% block content %}
{% from "macro/ui.html" import topic_list, pagination %}
<div class="module">
  <div class="module-header inner">
    <strong>{{_('Recent Topics')}}</strong>
  </div>
  <div class="module-body">
    {{ topic_list(paginator.items) }}
  </div>
  {% if paginator.pages > 1 %}
  <div class="module-footer inner">
    {{ pagination(paginator, url_for('topic.topics')) }}
  </div>
  {% endif %}
</div>
{% endblock %}
