{% extends "layout.html" %}

{% block subtitle %}{{topic}}{% endblock %}
{% from "macro/form.html" import render_field %}
{% from "macro/ui.html" import topic_list, pagination, user_module, nav %}

{% block nav %}
{{ nav('topic') }}
{% endblock %}


{% block afterstyle %}
<style type="text/css">
  .hentry {
    font-size: 15px;
  }
  .hentry h1 {
    margin: 0;
    font-size: 20px;
    line-height: 1;
  }
  .hentry .module-footer {
    font-size: 12px;
  }
  .reply-form textarea {
    max-width: 100%;
    height: 100px;
  }
  .reply-list .delete {
    visibility: hidden;
  }
  .reply-list .item:hover .delete {
    visibility: visible;
  }
</style>
{% endblock %}

{% block content %}
<div class="module hentry">
  <div class="module-header inner">
    <h1>{{topic}}</h1>
  </div>
  <div class="module-body inner">
    {{topic.html|safe}}
  </div>
  <div class="module-footer inner muted clearfix">
    <time datetime="{{topic.created|xmldatetime}}" pubdate>{{topic.created|timesince}}</time>
    <span class="sep">&middot;</span>
    <a href="{{url_for('node.view', urlname=node.urlname)}}">{{node}}</a>
    {% if g.user and (g.user.is_staff or g.user.id == topic.account_id) %}
    <span class="pull-right">
      <a href="{{url_for('topic.edit', uid=topic.id)}}">{{_('Edit')}}</a>
      <span class="sep">&middot;</span>
      <a href="{{url_for('topic.move', uid=topic.id)}}">{{_('Move')}}</a>
    </span>
    {% endif %}
  </div>
</div>

<div class="module">
  <div class="module-body item-list reply-list">
    {% if paginator.items %}
    {% for item in paginator.items %}
    <div class="item hentry">
      <div class="content">{{item.html|safe}}</div>
      <div class="meta clearfix">
        <a href="{{url_for('user.view', username=item.user.username)}}">{{item.user}}</a>
        <span class="sep">@</span>
        <time datetime="{{item.created|xmldatetime}}" pubdate>{{item.created|timesince}}</time>

        {% if g.user and (g.user.is_staff or g.user.id == item.account_id) %}
        <a class="pull-right delete" href="#{{item.id}}">delete</a>
        {% endif %}
      </div>
      <a class="avatar" href="{{ url_for('user.view', username=item.user.username) }}" title="{{item.user}}"><img src="{{item.user.avatar(24)}}" /></a>
    </div>
    {% endfor %}
    {% else %}
    <div class="inner">
      <div class="alert alert-info">{{_('No replies yet.')}}</div>
    </div>
    {% endif %}
  </div>

  {% if paginator.pages > 1 %}
  <div class="module-footer inner">
    {{ pagination(paginator, url_for('topic.view', uid=topic.id)) }}
  </div>
  {% endif %}
</div>

<div class="module">
  {% if form %}
  <form class="reply-form inner" action="{{url_for('topic.reply', uid=topic.id)}}" method="post">
    {{ form.csrf_token }}
    {{ render_field(form.content, 'input-block-level') }}
    <div class="form-submit clearfix">
      <button class="btn btn-success pull-right">{{_('Send a Reply')}}</button>
    </div>
  </form>
  {% else %}
  <div class="inner">
    <div class="alert alert-info">{{_('Login is required.')}}</div>
    <a href="{{url_for('account.signin')}}" class="btn btn-success">{{_('Sign In')}}</a>
  </div>
  {% endif %}
</div>
{% endblock %}


{% block sidebar %}
{{ user_module(author) }}
<div class="module">
  <div class="module-header inner">
    <strong>{{node}}</strong>
  </div>
  <div class="module-body inner">
    {{node.html|safe}}
  </div>
  <div class="module-footer inner">
    <a class="btn btn-info" href="{{url_for('node.view', urlname=node.urlname)}}">{{_('Topics in this node')}}</a>
  </div>
</div>
{% endblock %}
