{% extends "layout.html" %}

{% block subtitle %}{{topic}}{% endblock %}
{% from "macro/form.html" import render_field %}
{% from "macro/ui.html" import topic_list, pagination %}

{% block afterstyle %}
<style type="text/css">
  .hentry {
    font-size: 15px;
  }
  .hentry h1 {
    margin: 0;
    font-size: 20px;
    line-height: 1;
  }
  .hentry .module-footer {
    font-size: 12px;
  }
  .reply-form textarea {
    max-width: 100%;
    height: 100px;
  }
</style>
{% endblock %}

{% block content %}
<div class="module hentry">
  <div class="module-header inner">
    <h1>{{topic}}</h1>
  </div>
  <div class="module-body inner">
    {{topic.html|safe}}
  </div>
  <div class="module-footer inner muted">
    <time datetime="{{topic.created|xmldatetime}}" pubdate>{{topic.created|timesince}}</time>
    &middot;
    <a href="{{url_for('node.view', urlname=node.urlname)}}">{{node}}</a>
  </div>
</div>

<div class="module">
  <div class="module-body item-list">
    {% if paginator.items %}
    {% for item in paginator.items %}
    <div class="item hentry">
      <div class="content">{{item.html|safe}}</div>
      <div class="meta">
        <a href="#">{{item.user}}</a>
        @ <time datetime="{{item.created|xmldatetime}}" pubdate>{{item.created|timesince}}</time>
      </div>
      <a class="avatar" href="#" title="{{item.user}}"><img src="{{item.user.avatar(24)}}" /></a>
    </div>
    {% endfor %}
    {% else %}
    <div class="inner">
      <div class="alert alert-info">{{_('No replies yet.')}}</div>
    </div>
    {% endif %}
  </div>

  {% if paginator.pages > 1 %}
  <div class="module-footer inner">
    {{ pagination(paginator, url_for('topic.topics')) }}
  </div>
  {% endif %}
</div>

<div class="module">
  {% if form %}
  <form class="reply-form inner" action="{{url_for('topic.reply', uid=topic.id)}}" method="post">
    {{ form.csrf_token }}
    {{ render_field(form.content, 'input-block-level') }}
    <div class="form-submit clearfix">
      <button class="btn btn-success pull-right">{{_('Send a Reply')}}</button>
    </div>
  </form>
  {% else %}
  <div class="inner">
    <div class="alert alert-info">{{_('Login is required.')}}</div>
    <a href="{{url_for('account.signin')}}" class="btn btn-success">{{_('Sign In')}}</a>
  </div>
  {% endif %}
</div>
{% endblock %}


{% block sidebar %}
<div class="module">
  <div class="module-header inner">
    <strong>{{author}}</strong>
  </div>
</div>

<div class="module">
  <div class="module-header inner">
    <strong>{{node}}</strong>
  </div>
  <div class="module-body inner">
    {{node.html|safe}}
  </div>
  <div class="module-footer inner">
    <a class="btn btn-info" href="{{url_for('node.view', urlname=node.urlname)}}">{{_('Topics in this node')}}</a>
  </div>
</div>
{% endblock %}
