{% extends "layout.html" %}

{% block subtitle %}{{topic}}{% endblock %}
{% from "macro/form.html" import render_field %}
{% from "macro/ui.html" import topic_list, pagination %}

{% block content %}
<div class="module">
  <div class="module-header inner">
    <strong>{{topic}}</strong>
  </div>
  <div class="module-body inner">
    {{topic.html}}
  </div>
</div>

<div class="module">
  <div class="module-body item-list">
    {% for item in paginator.items %}
    <div class="item hentry">
      <div class="content">{{item.html}}</div>
      <div class="meta">
        <a href="#">{{item.user}}</a>
        @ <time datetime="{{item.created|xmldatetime}}" pubdate>{{item.created|timesince}}</time>
      </div>
      <a class="avatar" href="#" title="{{item.user}}"><img src="{{item.user.avatar(24)}}" /></a>
    </div>
    {% endfor %}
  </div>

  {% if paginator.pages > 1 %}
  <div class="module-footer inner">
    {{ pagination(paginator, url_for('topic.topics')) }}
  </div>
  {% endif %}
</div>

<div class="module">
  {% if form %}
  <form class="module-body inner" action="{{url_for('topic.reply', uid=topic.id)}}" method="post">
    {{ form.csrf_token }}
    {{ render_field(form.content, 'input-block-level') }}
    <div class="form-submit clearfix">
      <button class="btn btn-success pull-right">{{_('Send a Reply')}}</button>
    </div>
  </form>
  {% else %}
  <div class="inner">
    <div class="alert alert-info">{{_('Login is required.')}}</div>
    <a href="{{url_for('account.signin')}}" class="btn btn-success">{{_('Sign In')}}</a>
  </div>
  {% endif %}
</div>
{% endblock %}
